main {
    min-height: 1300px;
}

div.new-collection-by-key-container {
    display: grid;
    grid: 1fr / 1fr 2fr;
    gap: 20px;
}

div.new-collection-by-key-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.new-collection-by-key-data-item {
    display: grid;
    grid: 20px 50px 1fr / 1fr;
    gap: 5px;
}

input.btn-send {
    height: 50px;
    width: 100%;
}

div.send-new-collection-by-key-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.collection-words-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.collection-words-instruments {
    height: 100px;

    display: grid;
    grid: 1fr / 2fr 1fr 1fr 50px;
    gap: 10px;
    margin-top: 50px;
}

div.collection-words-instruments-item {
    display: grid;
    grid: 50px 1fr / 1fr;
    gap: 5px;
}

div.collection-info {
    display: grid;
    align-items: center;
}