main {
    min-height: 1300px;
}

div.customer-collections-message-container {
    display: grid;
    grid: 1fr / 250px 1fr;
    padding: 15px;
}

div.customer-collections-message-left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img.customer-collections-message-img {
    width: 128px;
    height: 128px;
}

div.customer-collections-message-right {
    display: flex;
    flex-direction: column;
}

p.customer-collections-message-header {
    font-size: var(--second-font-size);
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

div.customer-collections-message-text {
    font-size: var(--third-font-size);
}

div.customer-collections-actions {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 10px;
}

a.customer-collections-actions-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;

    font-weight: bold;
}

img.customer-collections-actions-img {
    width: 128px;
    height: 128px;
}

p.customer-collections-actions-text {
    font-size: var(--third-font-size);
}

div.collection-words-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.collection-words-instruments {
    height: 100px;

    display: grid;
    grid: 1fr / 2fr 1fr 1fr 1fr 50px;
    gap: 10px;
    margin-top: 50px;
}

div.collection-words-instruments-item {
    display: grid;
    grid: 50px 1fr / 1fr;
    gap: 5px;
}
