<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - Все слова|">Все слова</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo/logo.ico}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/root.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/img_sizes.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/span/span_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/span/span_flag_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/span/span_loading_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/span/span_rule_element.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/div/div_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/div/div_with_data_builder_element.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/table/instruments_for_table.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/table/table_element.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/a/a_button_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/input/input_text_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/select/select_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/button/button_element.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/info_block/info_block.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/info_block/info_block_header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/info_block/info_block_big_header.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/templates/words/show.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

    <script type="module" th:src="@{/js/templates/words/show.js}"></script>
</head>
<body>
    <header>
        <div th:insert="~{layouts/header}"></div>
    </header>
    <main>
        <div class="div-info-block-big-header-container">
            <div class="div-info-block-big-header-img-container">
                <img th:src="@{/images/templates/words/words.png}"
                     src=""
                     alt=""/>
            </div>
            <div class="div-info-block-big-header-data-container">
                <h1>Слова</h1>
                <div>
                    <span>
                        На странице находятся все слова со статусом
                        <span class="span-element-for-hint"
                           th:style="'color: #' + ${ACTIVE_WORD_STATUS.color.hexCode}"
                           th:text="'&quot;' + ${ACTIVE_WORD_STATUS.title} + '&quot;'"
                           th:title="${ACTIVE_WORD_STATUS.description}"/>
                        ресурса <span th:text="${WEB_APP_NAME}"/>.
                        <span style="font-weight: bold" th:if="${AUTH_CUSTOMER == null}">
                            <a th:href="@{/customers/entry}">Авторизуйтесь</a>, чтобы получить дополнительные возможности.
                        </span>
                    </span>
                </div>
                <br>
                <div id="div_words_statistic"
                     style="min-height: 150px">
                </div>
                <br>
            </div>
        </div>
        <div class="div-actions-container" th:if="${AUTH_CUSTOMER != null}">
            <a th:href="@{/words/add}" class="a-button-with-img-and-span-element-vertical-128 a-button-element-default">
                <span>
                    <img th:src="@{/images/templates/words/new_words.png}"
                         src=""
                         alt=""/>
                </span>
                <span>Предложить новые слова</span>
            </a>
            <a th:href="@{/words/my_words_history}" class="a-button-with-img-and-span-element-vertical-128 a-button-element-default">
                <span>
                    <img th:src="@{/images/templates/words/my_words_history.png}"
                         src=""
                         alt=""/>
                </span>
                <span>История моих предложенных слов</span>
            </a>
        </div>
        <div class="div-info-block-header-container-margin">
            <img th:src="@{/images/templates/words/word.png}"
                 src=""
                 alt=""/>
            <h1>Список слов</h1>
        </div>
        <div th:class="${AUTH_CUSTOMER != null
            ? 'div-instruments-for-table-container div-instruments-for-find-words-container-auth'
            : 'div-instruments-for-table-container div-instruments-for-find-words-container'}">
            <div class="div-instrument-for-table-container">
                <label for="input_text_finder">Слово</label>
                <input id="input_text_finder" class="input-text-element" type="text" disabled>
            </div>
            <div class="div-instrument-for-table-container">
                <label for="select_langs">Язык</label>
                <div id="div_select_langs" class="div-select-with-flag-element-container">
                    <select id="select_langs" class="select-element" disabled></select>
                    <div>
                        <div>
                            <span id="span_flag_select_langs"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-instrument-for-table-container" th:if="${AUTH_CUSTOMER != null}">
                <label for="select_customer_collections">Коллекция</label>
                <div id="div_select_customer_collections"
                     class="div-select-with-flag-element-container">
                    <select id="select_customer_collections"
                            class="select-element" disabled></select>
                    <div>
                        <div>
                            <span id="span_flag_select_customer_collections"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-instrument-for-table-container">
                <label for="button_refresh"></label>
                <button id="button_refresh"
                        class="button-with-img-element-32 button-element-default"
                        title="Обновить" disabled>
                    <img id="img_button_refresh"
                         th:src="@{/images/elements/button/refresh.png}"
                         src=""
                         alt=""/>
                </button>
            </div>
        </div>
        <div id="div_customer_collection_info"
             class="div-info-block-container"
             style="min-height: 200px"
             th:if="${AUTH_CUSTOMER != null}"></div>
        <table id="table_words" class="table-element">
            <colgroup id="colgroup_words">
                <col style="width: 5%;">
                <col style="width: 65%;">
                <col style="width: 30%;">
                <col style="width: 50px" th:if="${AUTH_CUSTOMER != null}">
            </colgroup>
            <thead id="thead_words" class="thead-table-element-medium">
                <tr>
                    <th>№</th>
                    <th>Слово</th>
                    <th>Язык</th>
                    <th th:if="${AUTH_CUSTOMER != null}"></th>
                </tr>
            </thead>
            <tbody id="tbody_words"></tbody>
        </table>
    </main>
</body>
</html>