<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - Все слова|">Все слова</title>
    <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">

    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/info_blocks/big_info_block.css">
    <link rel="stylesheet" type="text/css" href="/css/info_blocks/dynamic_info_block.css">
    <link rel="stylesheet" type="text/css" href="/css/other/instruments_for_table.css">
    <link rel="stylesheet" type="text/css" href="/css/other/collection_info.css">
    <link rel="stylesheet" type="text/css" href="/css/other/loading.css">
    <link rel="stylesheet" type="text/css" href="/css/other/element_with_flag.css">
    <link rel="stylesheet" type="text/css" href="/css/templates/words/show.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

    <script type="module" src="/js/templates/words/show.js"></script>
</head>
<body>
    <header>
        <div th:insert="~{layouts/header}"></div>
    </header>
    <main>
        <div class="big-info-block-container">
            <div class="big-info-block-left-container">
                <img class="img-big-info-block"
                     src="/images/words/words.png"
                     alt="all_words.png"/>
            </div>
            <div class="big-info-block-right-container">
                <h1 class="h1-big-info-block">Слова</h1>
                <div class="big-info-block-text">
                    На странице находятся все слова со статусом
                    <a class="a-for-hint"
                       th:style="'color: #' + ${ACTIVE_WORD_STATUS.color.hexCode}"
                       th:text="'&quot;' + ${ACTIVE_WORD_STATUS.title} + '&quot;'"
                       th:title="${ACTIVE_WORD_STATUS.message}"/>
                    ресурса <span th:text="${WEB_APP_NAME}"/>.
                    <span style="font-weight: bold" th:if="${AUTH_CUSTOMER == null}">
                        <a href="/customers/entry">Авторизуйтесь</a>, чтобы получить дополнительные возможности.
                    </span>
                </div>
                <br>
                <div class="big-info-block-text statistics-container"
                     id="words_statistics_container"></div>
            </div>
        </div>
        <div class="actions-container" th:if="${AUTH_CUSTOMER != null}">
            <a class="a-button-standard" href="/words/new">
                <div class="vertical-flex-container-standard action">
                    <img class="img-action" src="/images/words/new_words.png" alt="new_words.png"/>
                    <div>Предложить новые слова</div>
                </div>
            </a>
            <a class="a-button-standard" href="/words/my_words_history">
                <div class="vertical-flex-container-standard action">
                    <img class="img-action" src="/images/words/my_words_history.png" alt="new_words_history.png"/>
                    <div>История моих предложенных слов</div>
                </div>
            </a>
        </div>
        <div th:class="${AUTH_CUSTOMER != null
            ? 'instruments-for-table-container-margin instruments-for-find-words-container-auth'
            : 'instruments-for-table-container-margin instruments-for-find-words-container'}">
            <div class="label-for-input-container">
                <label class="label-standard" for="tb_finder">Поиск:</label>
            </div>
            <input id="tb_finder" class="text-standard" type="text">

            <div class="label-for-input-container">
                <label class="label-standard" for="cb_langs">Язык:</label>
            </div>
            <div class="element-with-flag-container">
                <select id="cb_langs" class="select-standard"></select>
                <div class="flag-container">
                    <div id="lang_flag"></div>
                </div>
            </div>

            <div class="label-for-input-container" th:if="${AUTH_CUSTOMER != null}">
                <label class="label-standard" for="cb_customer_collections">Коллекция:</label>
            </div>

            <div class="element-with-flag-container" th:if="${AUTH_CUSTOMER != null}">
                <select id="cb_customer_collections" class="select-standard"></select>
                <div class="flag-container">
                    <div id="collection_flag"></div>
                </div>
            </div>

            <div class="label-for-input-container"></div>
            <button id="btn_refresh" class="button-with-img-standard" title="Обновить">
                <img class="img-btn-refresh" src="/images/other/refresh.png" alt="refresh.png"/>
            </button>
        </div>
        <div id="div_collection_info" class="info-block-standard collection-info"
             th:if="${AUTH_CUSTOMER != null}"></div>
        <table class="table-standard">
            <colgroup >
                <col style="width: 5%;">
                <col style="width: 65%;">
                <col style="width: 30%;">
                <col style="width: 50px" th:if="${AUTH_CUSTOMER != null}">
            </colgroup>
            <thead id="words_table_head">
                <tr>
                    <th>№</th>
                    <th>Слово</th>
                    <th>Язык</th>
                    <th th:if="${AUTH_CUSTOMER != null}"></th>
                </tr>
            </thead>
            <tbody id="words_table_body"></tbody>
        </table>
    </main>
</body>
</html>