<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - Все слова|">Все слова</title>
    <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">

    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/info_blocks/info_block_with_img_and_header.css">
    <link rel="stylesheet" type="text/css" href="/css/info_blocks/entity/collection_info.css">
    <link rel="stylesheet" type="text/css" href="/css/other/loading.css">
    <link rel="stylesheet" type="text/css" href="/css/other/element_with_flag.css">
    <link rel="stylesheet" type="text/css" href="/css/templates/words/show.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

    <script type="module" src="/js/templates/words/show.js"></script>
</head>
<body>
    <header>
        <div th:insert="~{layouts/header}"></div>
    </header>
    <main>
        <div class="info-block-with-img-and-header-container">
            <div class="info-block-with-img-and-header-left-container">
                <img class="img-info-block-with-img-and-header"
                     src="/images/words/words.png"
                     alt="all_words.png"/>
            </div>
            <div class="info-block-with-img-and-header-right-container">
                <h1 class="h1-info-block-with-img-and-header">Слова</h1>
                <div class="info-block-with-img-and-header-text">
                    На странице находятся все слова, содержащиеся в базе слов ресурса
                    <span th:text="${WEB_APP_NAME}"/>.
                    В таблице отображаются только слова со статусом
                    <a class="word-status-standard"
                       th:style="'color: #' + ${ACTIVE_WORD_STATUS.colorHexCode}"
                       th:text="'&quot;' + ${ACTIVE_WORD_STATUS.title} + '&quot;'"
                       th:title="${ACTIVE_WORD_STATUS.message}"/>.
                </div>
                <div class="info-block-with-img-and-header-text" th:if="${AUTH_CUSTOMER == null}">
                    <br>
                    <span style="font-weight: bold">Авторизуйтесь</span>, чтобы получить дополнительные возможности:<br>
                    - Предложение новых слов.<br>
                    - Сохранение слов в коллекции.<br>
                    - Просмотр изменения статуса предложенных слов модераторами.<br>
                </div>
                <br>
                <div class="info-block-with-img-and-header-text words-statistics-container"
                     id="words_statistics_container"></div>
            </div>
        </div>
        <div th:if="${AUTH_CUSTOMER != null}" class="words-actions">
            <a class="words-actions-item a-button-standard" href="/words/new">
                <img class="words-actions-img" src="/images/words/new_words.png" alt="new_words.png"/>
                <p class="words-actions-text">Предложить новые слова</p>
            </a>
            <a class="words-actions-item a-button-standard" href="/words/my_words_history">
                <img class="words-actions-img" src="/images/words/my_words_history.png" alt="new_words_history.png"/>
                <p class="words-actions-text">История моих предложенных слов</p>
            </a>
        </div>
        <div th:class="${AUTH_CUSTOMER != null ? 'word-list-instruments-auth' : 'word-list-instruments'}">
            <div class="word-list-instruments-item">
                <label class="label-for-input-standard" for="tb_finder">Поиск:</label>
                <input id="tb_finder" class="text-standard" type="text">
            </div>
            <div class="word-list-instruments-item">
                <label class="label-for-input-standard" for="cb_langs">Язык:</label>
                <div class="element-with-flag-container">
                    <select id="cb_langs" class="select-standard"></select>
                    <div class="flag-container">
                        <div id="lang_flag"></div>
                    </div>
                </div>
            </div>
            <div class="word-list-instruments-item" th:if="${AUTH_CUSTOMER != null}">
                <label class="label-for-input-standard" for="cb_customer_collections">Коллекция:</label>
                <div class="element-with-flag-container">
                    <select id="cb_customer_collections" class="select-standard"></select>
                    <div class="flag-container">
                        <div id="collection_flag"></div>
                    </div>
                </div>
            </div>
            <div class="word-list-instruments-item">
                <label class="label-for-input-standard" for="btn_refresh"></label>
                <button id="btn_refresh" class="btn-refresh-standard" title="Обновить">
                    <img class="btn-refresh-standard-img" src="/images/other/refresh.png" alt="refresh.png"/>
                </button>
            </div>
        </div>
        <div th:if="${AUTH_CUSTOMER != null}" id="div_collection_info"
             class="info-block-standard collection-info"></div>
        <div class="word-list-container" id="word_list_container">
            <table class="table-standard">
                <colgroup >
                    <col style="width: 5%;">
                    <col style="width: 65%;">
                    <col style="width: 30%;">
                    <col style="width: 50px" th:if="${AUTH_CUSTOMER != null}">
                </colgroup>
                <thead id="words_table_head">
                    <tr>
                        <th>№</th>
                        <th>Слово</th>
                        <th>Язык</th>
                        <th th:if="${AUTH_CUSTOMER != null}"></th>
                    </tr>
                </thead>
                <tbody id="words_table_body"></tbody>
            </table>
        </div>
    </main>
</body>
</html>