div.words-in-collection-instruments {
    height: 100px;

    display: grid;
    grid: 1fr / 1fr 50px;
    gap: 10px;
}

div.words-in-collection-instruments-item {
    display: grid;
    grid: 50px 1fr / 1fr;
    gap: 5px;
}

div.collection-info {
    height: 250px;

    display: grid;
    align-items: center;
}