main {
    min-height: 1000px;
}

div.workout-container {
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr / 500px 1fr;
    gap: 10px;
}

div.workout-item {
    display: grid;
    grid: 70px 1fr / 1fr;
    gap: 10px;
}

div.workout-item-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img.img-workout-item-header {
    width: 32px;
    height: 32px;
}

h1.h1-workout-item-header {
    font-size: var(--second-font-size);
}

div.new-workout-start-container {
    display: flex;
    flex-direction: column;
}

div.new-workout-start-actions-container {
    display: grid;
    grid: 1fr / 1fr 50px;
    gap: 10px;
}

button.btn-drop-workout-settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.img-btn-drop-workout-settings {
    width: 32px;
    height: 32px;
}