main {
    min-height: 1000px;
}

div.workout-container {
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr / 500px 1fr;
    gap: 10px;
}

div.workout-item {
    display: grid;
    grid: 90px 1fr / 1fr;
    gap: 10px;
}

div.new-workout-start-container {
    display: flex;
    flex-direction: column;
}

div.form-actions-container {
    display: grid;
    grid: 1fr / 1fr 50px;
    gap: 10px;
}

img.img-btn-drop {
    width: 32px;
    height: 32px;
}