main {
    min-height: 1000px;
}

div.div-prepare-to-start-workout-container {
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr / 500px 1fr;
    gap: 10px;
}

div.div-prepare-workout {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

div.div-not-over-workouts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

div.div-instruments-for-find-not-over-workouts-container {
    grid-template-columns: 1fr 60px;
}