span.span-rule-element-accept,
span.span-rule-element-warning,
span.span-rule-element-error {
    display: grid;
    grid: 1fr / 16px 1fr;
    align-items: center;
    gap: 5px;
}

span.span-rule-element-accept > img {
    width: 16px;
    height: 16px;

    background-image: url("../../images/rules/accept.png");
    background-size: 100% 100%;
}
span.span-rule-element-accept > span {
    font-size: var(--small-font-size);
    color: var(--green-dark-color);
}

span.span-rule-element-warning > img {
    width: 16px;
    height: 16px;

    background-image: url("../../images/rules/warning.png");
    background-size: 100% 100%;
}
span.span-rule-element-warning > span {
    font-size: var(--small-font-size);
    color: var(--yellow-dark-color);
}

span.span-rule-element-error > img {
    width: 16px;
    height: 16px;

    background-image: url("../../images/rules/error.png");
    background-size: 100% 100%;
}
span.span-rule-element-error > span {
    font-size: var(--small-font-size);
    color: var(--red-dark-color);
}