div.div-hello-container {
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    background: rgba(var(--main-first-color-rgb), var(--opacity-standard));
}

div.div-hello-container > h1 {
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

div.div-hello-container > span {
    font-size: 40px;
    text-align: center;
}

div.div-actions-container {
    min-height: 300px;

    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr;
    gap: 10px;
}