div.hello-message-container {
    gap: 5px;
}

h1.h1-hello-message {
    font-size: var(--first-font-size);
    font-weight: bold;
}

div.hello-message-text {
    font-size: var(--second-font-size);
    text-align: center;
}

div.actions-container {
    height: 300px;

    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px;
}

div.action {
    font-size: var(--second-font-size);
    font-weight: bold;
}

img.action-img {
    width: 128px;
    height: 128px;
}
