main {
    min-height: 1000px;
}

div.workout-type-action {
    height: 300px;
    padding: 10px;

    font-weight: bold;
    font-size: var(--second-font-size);
}

img.img-workout-type-action {
    width: 128px;
    height: 128px;
}
