main.main-workout-start {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.div-workout-start-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 10px;
}

div.div-workout-interaction-container {
    display: grid;
    min-height: 600px;
}

div.div-workout-timer-container {
    display: grid;
    grid: 60px 1fr / 1fr;
    gap: 10px;
}