main.start-workout {
    display: grid;
    padding: 20px;
}

div.start-workout-container {
    display: grid;
    grid: 250px 1fr / 1fr;
    gap: 10px;
}

div.start-workout-info-container {
    display: grid;
    grid: 1fr / 1fr 250px 1fr;
    gap: 10px;
}

div.start-workout-info-item-with-header-container {
    display: grid;
    grid: 90px 1fr / 1fr;
    gap: 10px;
}

div.start-workout-info {
    display: grid;
    justify-content: left;
    align-items: center;
}

div.start-workout-info-timer {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-weight: bold;
    font-size: var(--second-font-size);
}

div.start-workout-interaction-container {
    display: grid;
    grid: 600px / 3fr 1fr;
    gap: 10px;
}

div.start-workout-interaction-with-answer-area {
    display: grid;
    grid: 1fr 90px / 1fr;
    gap: 10px;
}

div.answer-container {
    display: grid;
    grid: 1fr / 1fr 50px 180px;
    gap: 10px;
}