main {
    min-height: 1500px;
}

div.words-statistics-container {
    min-height: 200px;

    display: grid;
    align-items: center;
}

div.words-actions {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 10px;
}

a.words-actions-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;

    font-weight: bold;
}

img.words-actions-img {
    width: 128px;
    height: 128px;
}

p.words-actions-text {
    font-size: var(--third-font-size);
}

div.word-list-instruments {
    height: 100px;

    display: grid;
    grid: 1fr / 2fr 1fr 1fr 50px;
    gap: 10px;
    margin-top: 50px;
}

div.word-list-instruments-auth {
    height: 100px;

    display: grid;
    grid: 1fr / 2fr 1fr 1fr 1.5fr 50px;
    gap: 10px;
    margin-top: 50px;
}

div.word-list-instruments-item {
    display: grid;
    grid: 50px 1fr / 1fr;
    gap: 5px;
}

div.word-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.collection-info {
    height: 250px;

    display: grid;
    align-items: center;
}