div.workout-round-statistic-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 70px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

div.workout-round-statistic-item-header {
    display: grid;
    justify-content: center;
    align-items: center;

    font-size: var(--third-font-size);
    font-weight: bold;
    text-align: center;
}

div.workout-round-statistic-item {
    display: grid;
    justify-content: center;
    align-items: center;

    font-size: var(--second-font-size);
    font-weight: bold;
    text-align: center;
}