select.select-element {
    min-height: 45px;
    cursor: pointer;

    background: var(--main-second-color);

    font-family: inherit;
    font-size: var(--small-font-size);
}

select.select-element option {
    cursor: pointer;

    background: var(--main-first-color);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: inherit;
    font-size: var(--small-font-size);
}


div.div-select-with-flag-element-container {
    display: grid;
    grid: 1fr / 1fr 45px;
    gap: 5px;
}

div.div-select-with-flag-element-container > div {
    display: grid;
    align-items: center;
}

div.div-select-with-flag-element-container > div > div {
    display: grid;
    min-width: 41px;
    min-height: 41px;

    border: 2px solid black;
    background-color: white;
}

div.div-select-with-flag-element-container > div > div > span {
    width: 100% !important;
    height: 100% !important;
}

div.div-select-with-img-element-container {
    display: grid;
    grid: 1fr / 1fr 50px;
    gap: 5px;
}

div.div-select-with-img-element-container > div {
    display: grid;
    align-items: center;
}

div.div-select-with-img-element-container > div > div {
    display: grid;
    min-width: 41px;
    min-height: 41px;

    border: 2px solid black;
    background-color: white;
}

div.div-select-with-img-element-container > div > div > img {
    width: 100%;
    height: 100%;
}