div.big-info-block-container {
    min-height: 200px;
    background: rgba(var(--first-color-rgb), var(--opacity-standard));
    padding: 10px;

    display: grid;
    grid: 1fr / 250px 1fr;
    gap: 20px;
}

div.big-info-block-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.img-big-info-block {
    width: 128px;
    height: 128px;
}

div.big-info-block-right-container {
    display: flex;
    flex-direction: column;
}

h1.h1-big-info-block {
    font-size: var(--second-font-size);
    text-align: center;
}

div.big-info-block-text {
    font-size: var(--third-font-size);
}