div.collection-info-container {
    display: grid;
    align-items: center;
    grid: 1fr / 180px 4fr;
    gap: 10px;
}

div.collection-info-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.img-collection-info {
    width: 128px;
    height: 128px;
}

div.collection-info-right-container {
    display: flex;
    flex-direction: column;
}

h1.h1-collection-info-header {
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: var(--second-font-size);
    font-weight: bold;
    text-align: left;
}

span.collection-info-left-text, span.collection-info-right-text {
    font-size: var(--third-font-size);
}

span.collection-info-left-text {
    font-weight: bold;
}

div.collection-info-error-container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: var(--second-font-size);
}