div.medium-info-block-container {
    min-height: 200px;
    background: rgba(var(--first-color-rgb), var(--opacity-standard));
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1.h1-medium-info-block {
    font-size: var(--second-font-size);
    text-align: center;
}

div.medium-info-block-text {
    font-size: var(--third-font-size);
    margin-top: -20px;
}