div.small-info-block-container, div.small-info-block-container-margin  {
    background: rgba(var(--first-color-rgb), var(--opacity-standard));
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div.small-info-block-container-margin {
    margin-top: 50px;
}

img.img-small-info-block {
    width: 64px;
    height: 64px;
}

h1.h1-small-info-block {
    font-size: var(--second-font-size);
}