label.label-element {
    font-size: var(--small-font-size);
}

label.label-required-element {
    font-size: var(--small-font-size);
}

span.span-label-required-element-red-star {
    font-size: var(--small-font-size);
    color: var(--red-dark-color);
}