span.span-loading-element-container {
    display: grid;
    grid: 1fr / 16px 1fr;
    align-items: center;
    gap: 5px;
}

span.span-loading-element-container > img {
    width: 16px;
    height: 16px;

    background-image: url("../../../images/other/loading.gif");
    background-size: 100% 100%;
}

span.span-loading-element-container > span {
    font-size: var(--small-font-size);
    font-weight: bold;
}