span.span-flag-element-squared,
span.span-flag-element-squared-empty {
    background-size: 100% !important;
}

span.span-flag-element-squared-empty {
    background-image: url("../../../images/flag/squared_empty_flag.svg");
}

span.span-flag-element-empty {
    background-image: url("../../../images/flag/empty_flag.svg");
}