<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="|${WEB_APP_NAME} - Языки|"></title>
        <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">

        <link rel="stylesheet" type="text/css" href="/css/root.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/img_sizes.css">

        <link rel="stylesheet" type="text/css" href="/css/elements/span/span_element.css">
        <link rel="stylesheet" type="text/css" href="/css/elements/span/span_loading_element.css">
        <link rel="stylesheet" type="text/css" href="/css/elements/span/span_flag_element.css">
        <link rel="stylesheet" type="text/css" href="/css/elements/span/span_rule_element.css">

        <link rel="stylesheet" type="text/css" href="/css/elements/table/table_element.css">
        <link rel="stylesheet" type="text/css" href="/css/elements/table/instruments_for_table.css">

        <link rel="stylesheet" type="text/css" href="/css/elements/input/input_text_element.css">
        <link rel="stylesheet" type="text/css" href="/css/elements/select/select_element.css">
        <link rel="stylesheet" type="text/css" href="/css/elements/button/button_element.css">
        <link rel="stylesheet" type="text/css" href="/css/elements/a/a_button_element.css">

        <link rel="stylesheet" type="text/css" href="/css/info_block/info_block_big_header.css">
        <link rel="stylesheet" type="text/css" href="/css/info_block/info_block_header.css">

        <link rel="stylesheet" type="text/css" href="/css/templates/special_actions/langs/show.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

        <script type="module" src="/js/templates/special_actions/langs/show.js"></script>
    </head>
    <body>
        <header>
            <div th:insert="~{layouts/header}"></div>
        </header>
        <main>
            <div class="div-info-block-big-header-container">
                <div class="div-info-block-big-header-img-container">
                    <img src="/images/logo/logo.png"
                         alt="logo.png"/>
                </div>
                <div class="div-info-block-big-header-data-container">
                    <h1>Языки</h1>
                    <div>
                        <span>
                            Изменяйте статусы активности в языках на вход и выход.
                            В каждой строке таблицы есть подсказка, поддерживается ли язык на входе и выходе в Yandex.Dictionary.
                        </span>
                    </div>
                    <br>
                </div>
            </div>

            <div class="div-info-block-header-container-margin">
                <img src="/images/templates/langs/lang.png"
                     alt="lang.png"/>
                <h1>Список языков</h1>
            </div>
            <div class="div-actions-container">
                <button id="button_turn_on_supported_langs_in"
                        class="button-with-img-and-span-element-horizontal-32 button-element-green" disabled>
                    <span id="span_turn_on_supported_langs_in">Включить все поддерживаемые входящие языки</span>
                    <span>
                        <img id="img_turn_on_supported_langs_in"
                             src="/images/elements/button/accept.png"
                             alt="add.png"/>
                    </span>
                </button>
                <button id="button_turn_off_unsupported_langs_in"
                        class="button-with-img-and-span-element-horizontal-32 button-element-red" disabled>
                    <span id="span_turn_off_unsupported_langs_in">Отключить все неподдерживаемые входящие языки</span>
                    <span>
                        <img id="img_turn_off_unsupported_langs_in"
                             src="/images/elements/button/deny.png"
                             alt="deny.png"/>
                    </span>
                </button>
                <button id="button_turn_off_langs_in"
                        class="button-with-img-and-span-element-horizontal-32 button-element-red" disabled>
                    <span id="span_turn_off_langs_in">Отключить все входящие языки</span>
                    <span>
                        <img id="img_turn_off_langs_in"
                             src="/images/elements/button/deny.png"
                             alt="deny.png"/>
                    </span>
                </button>
                <button id="button_turn_on_supported_langs_out"
                        class="button-with-img-and-span-element-horizontal-32 button-element-green" disabled>
                    <span id="span_turn_on_supported_langs_out">Включить все поддерживаемые выходящие языки</span>
                    <span>
                        <img id="img_turn_on_supported_langs_out"
                             src="/images/elements/button/accept.png"
                             alt="add.png"/>
                    </span>
                </button>

                <button id="button_turn_off_unsupported_langs_out"
                        class="button-with-img-and-span-element-horizontal-32 button-element-red" disabled>
                    <span id="span_turn_off_unsupported_langs_out">Отключить все неподдерживаемые выходящие языки</span>
                    <span>
                        <img id="img_turn_off_unsupported_langs_out"
                             src="/images/elements/button/deny.png"
                             alt="deny.png"/>
                    </span>
                </button>
                <button id="button_turn_off_langs_out"
                        class="button-with-img-and-span-element-horizontal-32 button-element-red" disabled>
                    <span id="span_turn_off_langs_out">Отключить все выходящие языки</span>
                    <span>
                        <img id="img_turn_off_langs_out"
                             src="/images/elements/button/deny.png"
                             alt="deny.png"/>
                    </span>
                </button>
            </div>
            <div class="div-instruments-for-table-container div-instruments-for-find-langs-container">
                <div class="div-instrument-for-table-container">
                    <label for="input_text_finder">Название языка</label>
                    <input id="input_text_finder"
                           class="input-text-element"
                           type="text" disabled>
                </div>
                <div class="div-instrument-for-table-container">
                    <label for="select_is_active_for_in">Активный на вход:</label>
                    <select id="select_is_active_for_in" class="select-element"></select>
                </div>
                <div class="div-instrument-for-table-container">
                    <label for="select_is_active_for_out">Активный на выход:</label>
                    <select id="select_is_active_for_out" class="select-element"></select>
                </div>
                <div class="div-instrument-for-table-container">
                    <label for="button_refresh"></label>
                    <button id="button_refresh"
                            class="button-with-img-element-32 button-element-default"
                            title="Обновить" disabled>
                        <img id="img_button_refresh"
                             src="/images/other/refresh.png"
                             alt="refresh.png"/>
                    </button>
                </div>
            </div>
            <table id="table_langs" class="table-element">
                <colgroup id="colgroup_langs">
                    <col style="width: 5%;">
                    <col style="width: 35%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 80px;">
                </colgroup>
                <thead id="thead_langs"
                       class="thead-table-element-medium">
                    <tr>
                        <th>№</th>
                        <th>Название языка</th>
                        <th>Активный на вход</th>
                        <th>Активный на выход</th>
                        <th>Поддержка на вход</th>
                        <th>Поддержка на выход</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbody_langs"></tbody>
            </table>
        </main>
    </body>
</html>