<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${appName} - список слов|">${appName}</title>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/color.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/all_words.css}">
</head>
<body>
    <header>
        <div th:insert="templates/header"></div>
    </header>
    <main>
        <div class="words-message-container">
            <div class="words-message-left">
                <img class="words-message-img" src="#" th:src="@{/static/images/all_words.png}" alt="all_words.png"/>
            </div>
            <div class="words-message-right">
                <p class="words-message-header">Все слова</p>
                <p class="words-message-text" th:text="|В список включены все слова, содержащиеся в базе слов ресурса ${appName}.|"></p>
                <p class="words-message-text" th:text="|Количество слов в базе: 0.|"></p>
                <p class="words-message-text" th:text="|За сегодня (01.01.1970) добавлено слов: 0.|"></p>
            </div>
        </div>
        <div class="word-list-container">
            <div class="word-list-new-container">
                <div class="word-list-new-message">
                    <p>Обладаете большим словарным запасом? Знаете, какие слова нужно добавить в нашу базу?
                        Вы всегда можете предложить неограниченное количество слов, а наши администраторы
                        как можно быстрее рассмотрят их на корректность.</p>
                </div>
                <a class="a-button-standard add_word">
                    <img class="add_word_img" src="#" th:src="@{static/images/add.png}" alt="add.png"/>
                    <p class="add_word-text">Добавить новые слова</p>
                </a>
            </div>
        </div>
        <div class="word-list-instruments">
            <a class="a-button-standard">Поиск</a>
            <a class="a-button-standard">Сортировка</a>
        </div>
        <table class="table-standard">
            <thead>
            <tr>
                <th>Слово</th>
                <th>Язык</th>
                <th>Часть речи</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Привет</td>
                <td>Русский</td>
                <td>Существительное</td>
            </tr>
            <tr>
                <td>Привет</td>
                <td>Русский</td>
                <td>Существительное</td>
            </tr>
            <tr>
                <td>Привет</td>
                <td>Русский</td>
                <td>Существительное</td>
            </tr>
            </tbody>
        </table>
    </main>
</body>
</html>