div.element-with-flag-container {
    display: grid;
    grid: 1fr / 1fr 60px;
}

div.flag-container {
    margin: 5px 0 5px 5px;

    display: flex;
    align-items: center;
}

div.fis-flag,
span.fis-flag,
div.fis-empty-flag,
span.fis-empty-flag {
    background-size: 100%;
    width: 100% !important;
    height: 100% !important;

    border: 2px solid black;
}

div.empty-flag,
span.empty-flag,
div.fis-empty-flag,
span.fis-empty-flag {
    background: url("../../images/other/empty_flag.png") no-repeat;
    background-size: 100% 100%;
}