div.instruments-for-table-container, div.instruments-for-table-container-margin {
    height: 100px;

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

div.instruments-for-table-container-margin {
    margin-top: 50px;
}

div.label-for-input-container {
    background: rgba(var(--first-color-rgb), var(--opacity-standard));
    padding: 5px;

    display: grid;
    align-items: center;

    font-size: var(--third-font-size);
    font-weight: bold;
}

img.img-btn-refresh {
    width: 32px;
    height: 32px;
}