main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 80px 80px 80px 80px;
    min-height: 1300px;
}

div.words-message-container {
    display: grid;
    grid: 1fr / 250px 1fr;

    background: rgba(var(--first-color-rgb), var(--opacity-standard));
    border-radius: var(--border-radius-standard);
}

div.words-message-left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img.words-message-img {
    width: 128px;
    height: 128px;
}

div.words-message-right {
    display: flex;
    flex-direction: column;
}

p.words-message-header {
    font-size: var(--second-font-size);
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

p.words-message-text {
    font-size: var(--third-font-size);
    margin-top: 5px;
}

div.word-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.word-list-new-container {
    display: grid;
    grid: 1fr / 4fr 1fr;
    gap: 10px;
    margin-bottom: 50px;
}

div.word-list-new-message {
    display: flex;
    align-items: center;
    padding: 10px;

    background: rgba(var(--first-color-rgb), var(--opacity-standard));
    border-radius: var(--border-radius-standard);

    font-size: var(--third-font-size);
}

div.word-list-instruments {
    height: 100px;

    display: grid;
    grid: 1fr / 2fr 1fr 1fr;
    gap: 10px;
}

div.word-list-instruments-item {
    display: grid;
    grid: 50px 1fr / 1fr;
    gap: 5px;
}

a.add_word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;

    text-align: center;
}

img.add_word_img {
    width: 64px;
    height: 64px;
}

p.add_word-text {
    font-size: var(--third-font-size);
}

label.label-for-filters {
    display: grid;
    align-items: center;
    padding: 10px;

    background: rgba(var(--first-color-rgb), var(--opacity-standard));

    font-family: inherit;
    font-size: var(--third-font-size);
}

div.words-list-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

a.a-show-more {
    padding: 10px;
    font-size: var(--third-font-size);
    text-align: center;
    font-weight: bold;
}