main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.error-container {
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    overflow-wrap: anywhere;
    text-align: center;
}

div.error-code {
    font-weight: bold;
    font-size: 200px;
}

div.error-message {
    font-size: var(--third-font-size);
}

