div.hello-message-container {
    display: flex;
    flex-direction: column;
}

div.hello-message-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 20px;
}

div.hello-message-header {
    font-size: var(--first-font-size);
    font-weight: bold;
}

div.hello-message-text {
    font-size: var(--second-font-size);
    margin-top: 5px;
}

div.actions-container {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px;
}

a.action {
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;

    font-weight: bold;
    font-size: var(--second-font-size);
}

img.action-img {
    width: 128px;
    height: 128px;
}
