div.hello-message-container {
    display: flex;
    flex-direction: column;
}

div.hello-message-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p.hello-message-header {
    font-size: 60px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

p.hello-message-text {
    font-size: 30px;
    margin-top: 5px;
}

div.actions-container {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px;
}

a.action {
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: var(--second-font-size);
}

img.action-img {
    width: 128px;
    height: 128px;
}

div.info-container {

}

