@font-face {
    src: local('Roboto Regular'),
    url('../fonts/Roboto-Regular.otf') format('opentype');

    font-family: 'Roboto Regular';
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    font-family: "Roboto Regular", "Arial", sans-serif;
    color: black;
}

body {
    margin: 0;
    min-height: 1000px;

    display: grid;
    grid-template-rows: auto 1fr auto;

    background: url("../images/other/background.png");
    background-size: 100%;
}

main {
    padding: 80px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-wrap: break-word;
}


div.info-block-standard {
    background: rgba(var(--first-color-rgb), var(--opacity-standard));
    padding: 10px;
}

div.horizontal-delimiter, div.horizontal-delimiter-margin {
    height: 1px;
    background: rgba(var(--third-color-rgb), var(--opacity-standard));
}

div.horizontal-delimiter-margin {
    margin: 5px 25px 5px 25px;
}

div.vertical-delimiter, div.vertical-delimiter-margin {
    width: 1px;
    background: rgba(var(--third-color-rgb), var(--opacity-standard));
}

div.vertical-delimiter-margin {
    margin: 25px 5px 25px 5px;
}

div.form-item-standard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

div.checkbox-container-standard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

div.overflow-y-standard {
    overflow-y: scroll;
}

div.overflow-y-standard::-webkit-scrollbar-track
{
    background-color: var(--first-color);
}

div.overflow-y-standard::-webkit-scrollbar
{
    width: 15px;
    background-color: var(--first-color);;
}

div.overflow-y-standard::-webkit-scrollbar-thumb
{
    background-color: var(--second-color);
}

div.horizontal-flex-container-standard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div.vertical-flex-container-standard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div.content-center-standard {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}


a.a-button-standard,
a.a-button-accept-standard,
a.a-button-warning-standard,
a.a-button-deny-standard,
a.a-button-disabled-standard {
    -webkit-appearance: button;
    -moz-appearance: button;
    cursor: pointer;

    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;

    border: 5px solid var(--third-color);
    background: rgba(var(--first-color-rgb), var(--opacity-standard));

    font-family: inherit;
    color: black;
    text-decoration: none;
    text-align: center;
}

a.a-button-standard:hover {
    background: rgba(var(--second-color-rgb), var(--opacity-standard));
}

a.a-button-accept-standard {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px solid var(--accept-second-color);
    background: rgba(var(--accept-first-color-rgb), var(--opacity-standard));
}

a.a-button-accept-standard:hover {
    background: rgba(var(--accept-second-color-rgb), var(--opacity-standard));
}

a.a-button-warning-standard {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px solid var(--warning-second-color);
    background: rgba(var(--warning-first-color-rgb), var(--opacity-standard));
}

a.a-button-warning-standard:hover {
    background: rgba(var(--warning-second-color-rgb), var(--opacity-standard));
}

a.a-button-deny-standard {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px solid var(--deny-second-color);
    background: rgba(var(--deny-first-color-rgb), var(--opacity-standard));
}

a.a-button-deny-standard:hover {
    background: rgba(var(--deny-second-color-rgb), var(--opacity-standard));
}

a.a-button-disabled-standard {
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
    cursor: default;

    opacity: 0.5;
}

a.a-show-more-standard {
    padding: 10px;
    font-size: var(--third-font-size);
    text-align: center;
    font-weight: bold;
}

a.a-checkbox-standard {
    cursor: pointer;
    text-decoration: none;
    font-size: var(--third-font-size);
}

a.a-for-hint {
    font-weight: bold;
    text-decoration: underline dotted;
    cursor: pointer;
}


table.table-standard {
    border-spacing: 5px 5px;
    table-layout: fixed;
    margin: -5px -5px;
    width: calc(100% + 10px);

    overflow: hidden;
    overflow-wrap: anywhere;
}

table.table-standard thead th {
    background: var(--third-color);

    font-size: var(--second-font-size);
    padding: 10px;
}

table.table-standard tbody {
    font-size: var(--third-font-size);
}

table.table-standard td {
    padding: 15px;
}

table.table-standard tbody tr:nth-child(odd){
    background: var(--first-color);
}

table.table-standard tbody tr:nth-child(even){
    background: var(--second-color);
}


select.select-standard {
    min-height: 50px;
    cursor: pointer;

    background: var(--second-color);

    font-family: inherit;
    font-size: var(--third-font-size);
}

select.select-standard option {
    cursor: pointer;

    background: var(--first-color);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: inherit;
    font-size: var(--third-font-size);
}


button.button-standard, button.button-with-img-standard {
    cursor: pointer;
    background: var(--second-color);

    font-size: var(--third-font-size);
    font-family: inherit;
}

button.button-with-img-standard {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.button-standard:hover, button.button-with-img-standard:hover {
    background: var(--third-color);
}


input.text-standard {
    min-height: 40px;

    font-family: inherit;
    font-size: var(--third-font-size);
}

input.submit-standard {
    min-height: 50px;

    cursor: pointer;
    background: var(--second-color);

    font-size: var(--third-font-size);
    font-family: inherit;
}

input.submit-standard:hover {
    background: var(--third-color);
}

input.checkbox-standard {
    cursor: pointer;
}


form.form-standard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

label.label-standard {
    font-size: var(--third-font-size);
}