:root {
    --first-color: #dcd6d6;
    --first-color-rgb: 220, 214, 214;

    --second-color: #bbb8b8;
    --second-color-rgb: 187, 184, 184;

    --third-color: #918e8e;
    --third-color-rgb: 145, 142, 142;

    --opacity-standard: 0.9;
    --border-radius-standard: 10px;

    --first-font-size: 60px;
    --second-font-size: 40px;
    --third-font-size: 20px;

    --accept-first-color: #48B548;
    --accept-first-color-rgb: 72, 181, 72;

    --accept-second-color: #489148;
    --accept-second-color-rgb: 72, 145, 72;

    --warning-first-color: #E5BF00;
    --warning-first-color-rgb: 229, 191, 0;

    --warning-second-color: #D3B000;
    --warning-second-color-rgb: 211, 176, 0;

    --deny-first-color: #B54848;
    --deny-first-color-rgb: 181, 72, 72;

    --deny-second-color: #913C3C;
    --deny-second-color-rgb: 145, 60, 60;
}