main {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.div-registration-container {
    width: 1300px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.div-registration-content-container {
    display: grid;
    grid: 1fr/ 1fr 1fr;
    gap: 10px;
}

div.div-registration-info-container {
    display: grid;
    grid: 100px 1fr / 1fr;
    gap: 10px;
}

div.div-registration-advantages-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}