main {
    min-height: 1500px;
}

div.customer-info-with-actions-container-owner {
    display: grid;
    grid: 1fr / 1fr 80px;
    gap: 10px;
}

div.customer-info-container {
    display: grid;
    grid: 1fr / 200px 1fr;
    gap: 20px;
}

div.avatar-container {
    display: flex;
    justify-content: center;
}

img.img-avatar {
    width: 200px;
    height: 200px;

    border: 2px solid black;
    background: white;
}

div.info-container {
    display: grid;
    grid: 50px 1fr 80px / 1fr;
    gap: 10px;
}

div.actions-container {
    display: grid;
    grid: 1fr 1fr / 1fr;
    gap: 10px;
}

img.img-action {
    width: 64px;
    height: 64px;
}

div.statistic-container {
    min-height: 200px;
}

div.instruments-for-find-statistic {
    grid-template-columns: 2fr 1fr 50px;
}

div.instruments-for-find-workouts {
    grid-template-columns: 1fr 50px;
}