div.customer-info-with-actions-container {
    display: grid;
    grid: 1fr / 1fr 300px;
    gap: 10px;
}

div.customer-info-container {
    display: grid;
    grid: 1fr / 200px 1fr;
    gap: 20px;
}

div.avatar-container {
    display: flex;
    justify-content: center;
}

img.img-avatar {
    width: 200px;
    height: 200px;

    border: 2px solid black;
    background: white;
}

div.info-container {
    display: grid;
    grid: 50px 1fr 80px / 1fr;
    gap: 10px;
}

div.actions-container {
    display: grid;
    grid: 1fr 1fr / 1fr;
    gap: 10px;
}

div.action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-size: var(--third-font-size);
    font-weight: bold;
}

img.img-action {
    width: 32px;
    height: 32px;
}