<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - Вход|">Вход</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">

    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/customers/entry.css">

    <script type="module" src="/js/customers/entry.js"></script>
</head>
<body>
    <header>
        <div th:insert="~{layouts/header}"></div>
    </header>
    <main>
        <div class="entry-container">
            <div class="entry block-info-standard">
                <div class="entry-header">
                    <img class="entry-header-img" src="/images/entry.png" alt="entry.png"/>
                    <p>Вход</p>
                </div>
                <div class="horizontal-delimiter"></div>
                <form id="form_entry" th:method="POST" th:action="@{/customers/entry}" th:object="${CUSTOMER_ENTRY}"
                      class="form-standard">
                    <div id="div_container_login" class="form-item-standard">
                        <label for="tb_login">Логин:</label>
                        <input id="tb_login" type="text" autocomplete="false"
                               class="text-standard input-height-standard" th:field="*{login}">
                    </div>
                    <div id="div_container_password" class="form-item-standard">
                        <label for="pb_password">Пароль:</label>
                        <input id="pb_password" type="password" autocomplete="false"
                               class="text-standard input-height-standard" th:field="*{password}">
                    </div>
                    <div class="form-item-standard">
                        <div class="show-password-container-standard">
                            <input id="check_show_password" type="checkbox">
                            <a id="a_check_show_password" class="a-show-password-standard" href="#">Показать пароль</a>
                        </div>
                    </div>
                    <input type="submit" class="submit-standard submit-height-standard" value="Войти">
                    <div class="form-item-standard text-error-standard text-align-center-standard"
                         th:if="${#fields.hasAnyErrors()}">
                        <div th:each="err: ${#fields.allErrors()}" th:text="${err}"></div>
                    </div>
                </form>
            </div>
            <div class="dont-have-account-container block-info-standard">
                <div>Нет аккаунта?</div>
                <a href="/customers/new">Регистрация</a>
            </div>
        </div>
    </main>
</body>
</html>