<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - Вход|">Вход</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo/logo.ico}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/root.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/img_sizes.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/span/span_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/span/span_rule_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/span/span_loading_element.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/input/input_text_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/input/input_password_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/input/input_checkbox_element.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/form/form_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/label/label_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/div/div_element.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/info_block/info_block.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/info_block/info_block_header.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/templates/customers/entry.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

    <script type="module" th:src="@{/js/templates/customers/entry.js}"></script>
</head>
<body>
    <header>
        <div th:insert="~{layouts/header}"></div>
    </header>
    <main>
        <div class="div-entry-container">
            <div class="div-info-block-header-container">
                <img th:src="@{/images/templates/customers/entry.png}"
                     src=""
                     alt=""/>
                <h1>Вход</h1>
            </div>
            <div class="div-info-block-container">
                <form id="form_entry"
                      th:method="POST"
                      th:action="@{/customers/entry}"
                      th:object="${CUSTOMER_ENTRY_REQUEST_DTO}"
                      class="form-element">
                    <div class="div-form-element-item">
                        <label for="input_text_login" class="label-element">Логин</label>
                        <input id="input_text_login" type="text" autocomplete="false"
                               class="input-text-element" th:field="*{login}" readonly>
                    </div>
                    <div class="div-form-element-item">
                        <label for="input_password" class="label-element">Пароль</label>
                        <input id="input_password" type="password" autocomplete="false"
                               class="input-password-element" th:field="*{password}" readonly>
                    </div>
                    <div class="div-form-element-item div-element-content-center">
                        <div id="div_input_checkbox_show_password" class="div-input-checkbox-element-container">
                            <input id="input_checkbox_show_password" type="checkbox" class="input-checkbox-element" disabled>
                            <label id="label_input_checkbox_show_password"
                                   for="input_checkbox_show_password"
                                   class="label-input-checkbox-element-disabled">Показать пароль</label>
                        </div>
                    </div>
                    <div class="div-element-horizontal-delimiter"></div>
                    <button id="button_submit_entry"
                            type="submit"
                            class="button-submit"
                            disabled>Войти</button>
                    <div id="div_message_container_entry" class="div-form-element-message-container">
                        <div class="div-element-vertical-flex-container-center"
                             th:if="${#fields.hasAnyErrors()}">
                            <span th:each="err: ${#fields.allErrors()}" class="span-rule-element-error">
                                <img src="" alt="">
                                <span th:text="${err}"/>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="div-info-block-container">
                <div class="div-dont-have-account-container">
                    <span>Нет аккаунта?</span>
                    <a th:href="@{/customers/registration}">Регистрация</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>