<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - Вход|">Вход</title>
    <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">

    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/other/rule.css">
    <link rel="stylesheet" type="text/css" href="/css/other/loading.css">
    <link rel="stylesheet" type="text/css" href="/css/templates/customers/entry.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

    <script type="module" src="/js/templates/customers/entry.js"></script>
</head>
<body>
    <header>
        <div th:insert="~{layouts/header}"></div>
    </header>
    <main>
        <div class="entry-container">
            <div class="entry info-block-standard">
                <div class="entry-header">
                    <img class="entry-header-img" src="/images/customers/entry.png" alt="entry.png"/>
                    <p>Вход</p>
                </div>
                <div class="horizontal-delimiter-margin"></div>
                <form id="form_entry" th:method="POST" th:action="@{/customers/entry}" th:object="${CUSTOMER_REQUEST_DTO}"
                      class="form-standard">
                    <div id="div_login_container" class="form-item-standard">
                        <label for="tb_login" class="label-standard">Логин:</label>
                        <input id="tb_login" type="text" autocomplete="false"
                               class="text-standard" th:field="*{login}">
                    </div>
                    <div id="div_password_container" class="form-item-standard">
                        <label for="pb_password" class="label-standard">Пароль:</label>
                        <input id="pb_password" type="password" autocomplete="false"
                               class="text-standard" th:field="*{password}">
                    </div>
                    <div class="form-item-standard">
                        <div class="checkbox-container-standard">
                            <input id="check_show_password" type="checkbox" class="checkbox-standard">
                            <a id="a_check_show_password" class="a-checkbox-standard">Показать пароль</a>
                        </div>
                    </div>
                    <div class="horizontal-delimiter"></div>
                    <input type="submit" class="submit-standard" value="Войти" id="btn_entry">
                    <div class="form-item-standard error-container"
                         th:if="${#fields.hasAnyErrors()}">
                        <div th:each="err: ${#fields.allErrors()}" class="rule-container" id="entry_info_container">
                            <img class="img-rule" src="/images/rules/error.png" alt="error.png">
                            <span class="rule-error-text" th:text="${err}"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="dont-have-account-container info-block-standard">
                <div>Нет аккаунта?</div>
                <a href="/customers/new">Регистрация</a>
            </div>
        </div>
    </main>
</body>
</html>