<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - Регистрация|">Регистрация</title>
    <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">

    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/info_blocks/small_info_block.css">
    <link rel="stylesheet" type="text/css" href="/css/other/rule.css">
    <link rel="stylesheet" type="text/css" href="/css/other/loading.css">
    <link rel="stylesheet" type="text/css" href="/css/other/element_with_flag.css">
    <link rel="stylesheet" type="text/css" href="/css/templates/customers/new.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

    <script type="module" src="/js/templates/customers/new.js"></script>
</head>
<body>
    <header>
        <div th:insert="~{layouts/header}"></div>
    </header>
    <main>
        <div class="registration-container">
            <div class="small-info-block-container">
                <img class="img-small-info-block" src="/images/customers/registration.png" alt="registration.png"/>
                <h1 class="h1-small-info-block">Регистрация</h1>
            </div>
            <div class="registration-content-container">
                <div class="registration-info-container">
                    <div class="small-info-block-container">
                        <h1 class="h1-small-info-block">Преимущества регистрации:</h1>
                    </div>
                    <div class="registration-advantages-container">
                        <a class="a-button-standard">
                            <div class="vertical-flex-container-standard advantage">
                                <img class="img-advantage"
                                     src="/images/words/new_words.png"
                                     alt="new_words.png"/>
                                <span>Предложение новых слов</span>
                            </div>
                        </a>
                        <a class="a-button-standard">
                            <div class="vertical-flex-container-standard advantage">
                                <img class="img-advantage"
                                     src="/images/customer_collections/new_collection.png"
                                     alt="new_collection.png"/>
                                <span>Создание коллекций слов</span>
                            </div>
                        </a>
                        <a class="a-button-standard" style="grid-column: 1 / 3">
                            <div class="vertical-flex-container-standard advantage">
                                <img class="img-advantage"
                                     src="/images/workouts/brain.png"
                                     alt="brain.png"/>
                                <span>Тренировка слов в различных режимах</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="info-block-standard">
                    <form id="form_register" th:method="POST" th:action="@{/customers/entry}" th:object="${CUSTOMER_REQUEST_DTO}"
                          class="form-standard">
                        <div class="form-item-standard">
                            <label for="tb_nickname" class="label-standard">Никнейм (публичный):</label>
                            <input id="tb_nickname" type="text" autocomplete="false"
                                   class="text-standard">
                        </div>
                        <div id="div_country_container" class="form-item-standard">
                            <label for="cb_countries" class="label-standard">Страна:</label>
                            <div class="element-with-flag-container">
                                <select id="cb_countries" class="select-standard"></select>
                                <div class="flag-container">
                                    <div id="country_id"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-item-standard">
                            <label for="tb_email" class="label-standard">Электронная почта:</label>
                            <input id="tb_email" type="text" autocomplete="false"
                                   class="text-standard">
                        </div>
                        <div class="form-item-standard">
                            <label for="tb_login" class="label-standard">Логин (приватный, для входа):</label>
                            <input id="tb_login" type="text" autocomplete="false"
                                   class="text-standard" th:field="*{login}">
                        </div>
                        <div class="form-item-standard">
                            <label for="pb_password" class="label-standard">Пароль:</label>
                            <input id="pb_password" type="password" autocomplete="false"
                                   class="text-standard" th:field="*{password}">
                        </div>
                        <div class="form-item-standard">
                            <label for="pb_password_repeat" class="label-standard">Повторите пароль:</label>
                            <input id="pb_password_repeat" type="password" autocomplete="false"
                                   class="text-standard">
                        </div>
                        <div class="form-item-standard">
                            <div class="checkbox-container-standard">
                                <input id="check_show_password" type="checkbox" class="checkbox-standard">
                                <a id="a_check_show_password" class="a-checkbox-standard">Показать пароль</a>
                            </div>
                        </div>
                        <div class="horizontal-delimiter"></div>
                        <input type="submit" class="submit-standard" value="Зарегистрироваться"
                               id="btn_register">
                        <div id="registration_info_container"></div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>