<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - Регистрация|">Регистрация</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo/logo.ico}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/root.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/img_sizes.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/span/span_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/span/span_flag_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/span/span_loading_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/span/span_rule_element.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/input/input_text_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/input/input_password_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/input/input_checkbox_element.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/button/button_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/form/form_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/label/label_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/select/select_element.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/div/div_element.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/info_block/info_block_header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/info_block/info_block.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/templates/customers/registration.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

    <script type="module" th:src="@{/js/templates/customers/registration.js}"></script>
</head>
<body>
    <header>
        <div th:insert="~{layouts/header}"></div>
    </header>
    <main>
        <div class="div-registration-container">
            <div class="div-info-block-header-container">
                <img th:src="@{/images/templates/customers/registration.png}"
                     src=""
                     alt=""/>
                <h1>Регистрация</h1>
            </div>
            <div class="div-registration-content-container">
                <div class="div-registration-info-container">
                    <div class="div-info-block-header-container">
                        <h1>Преимущества регистрации</h1>
                    </div>
                    <div class="div-registration-advantages-container">
                        <button class="button-with-img-and-span-element-vertical-128 button-element-default">
                            <span>
                                <img th:src="@{/images/templates/words/new_words.png}"
                                     src=""
                                     alt=""/>
                            </span>
                            <span>Предложение новых слов</span>
                        </button>
                        <button class="button-with-img-and-span-element-vertical-128 button-element-default">
                            <span>
                                <img th:src="@{/images/templates/customer_collections/new_collection.png}"
                                     src=""
                                     alt=""/>
                            </span>
                            <span>Создание коллекций слов</span>
                        </button>
                        <button class="button-with-img-and-span-element-vertical-128 button-element-default"
                           style="grid-column: 1 / 3">
                            <span>
                                <img th:src="@{/images/other/brain.png}"
                                     src=""
                                     alt=""/>
                            </span>
                            <span>Тренировка слов в различных режимах</span>
                        </button>
                    </div>
                </div>
                <div class="div-info-block-container">
                    <form id="form_registration"
                          th:method="POST"
                          th:action="@{/customers/entry}"
                          th:object="${CUSTOMER_ENTRY_REQUEST_DTO}"
                          class="form-element">
                        <div class="div-form-element-item">
                            <label for="input_text_nickname" class="label-required-element">
                                <span>Никнейм</span>
                                <span> </span>
                                <span class="span-label-required-element-red-star">*</span>
                            </label>
                            <input id="input_text_nickname" type="text" autocomplete="false"
                                   class="input-text-element" readonly>
                        </div>
                        <div class="div-form-element-item">
                            <label for="select_countries" class="label-required-element">
                                <span>Страна</span>
                                <span> </span>
                                <span class="span-label-required-element-red-star">*</span>
                            </label>
                            <div id="div_select_countries" class="div-select-with-flag-element-container">
                                <select id="select_countries" class="select-element" readonly></select>
                                <div>
                                    <div>
                                        <span id="span_flag_select_countries"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div-form-element-item">
                            <label for="input_text_email" class="label-required-element">
                                <span>Электронная почта</span>
                                <span> </span>
                                <span class="span-label-required-element-red-star">*</span>
                            </label>
                            <input id="input_text_email" type="text" autocomplete="false"
                                   class="input-text-element" readonly>
                        </div>
                        <div class="div-form-element-item">
                            <label for="input_text_login" class="label-required-element">
                                <span>Логин (для входа)</span>
                                <span> </span>
                                <span class="span-label-required-element-red-star">*</span>
                            </label>
                            <input id="input_text_login" type="text" autocomplete="false"
                                   class="input-text-element" th:field="*{login}" readonly>
                        </div>
                        <div class="div-form-element-item">
                            <label for="input_password" class="label-required-element">
                                <span>Пароль</span>
                                <span> </span>
                                <span class="span-label-required-element-red-star">*</span>
                            </label>
                            <input id="input_password" type="password" autocomplete="false"
                                   class="input-password-element" th:field="*{password}" readonly>
                        </div>
                        <div class="div-form-element-item">
                            <label for="input_password_repeat" class="label-required-element">
                                <span>Повторите пароль</span>
                                <span> </span>
                                <span class="span-label-required-element-red-star">*</span>
                            </label>
                            <input id="input_password_repeat" type="password" autocomplete="false"
                                   class="input-password-element" readonly>
                        </div>
                        <div class="div-form-element-item div-element-content-center">
                            <div id="div_input_checkbox_show_password" class="div-input-checkbox-element-container">
                                <input id="input_checkbox_show_password" type="checkbox" class="input-checkbox-element" disabled>
                                <label id="label_input_checkbox_show_password"
                                       for="input_checkbox_show_password"
                                       class="label-input-checkbox-element-disabled">Показать пароль</label>
                            </div>
                        </div>
                        <div class="div-element-horizontal-delimiter"></div>
                        <button id="button_submit_registration"
                                type="submit"
                                class="button-submit"
                                disabled>Зарегистрироваться</button>
                        <div id="div_message_container_registration"
                             class="div-form-element-message-container"></div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>