<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - ${CURRENT_CUSTOMER.nickname}|">Пользователь</title>
    <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">

    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/img_sizes.css">

    <link rel="stylesheet" type="text/css" href="/css/elements/span/span_element.css">
    <link rel="stylesheet" type="text/css" href="/css/elements/span/span_flag_element.css">
    <link rel="stylesheet" type="text/css" href="/css/elements/span/span_loading_element.css">
    <link rel="stylesheet" type="text/css" href="/css/elements/span/span_rule_element.css">

    <link rel="stylesheet" type="text/css" href="/css/elements/table/table_element.css">
    <link rel="stylesheet" type="text/css" href="/css/elements/table/instruments_for_table.css">

    <link rel="stylesheet" type="text/css" href="/css/elements/div/div_element.css">
    <link rel="stylesheet" type="text/css" href="/css/elements/div/div_with_data_builder_element.css">

    <link rel="stylesheet" type="text/css" href="/css/elements/a/a_button_element.css">
    <link rel="stylesheet" type="text/css" href="/css/elements/select/select_element.css">
    <link rel="stylesheet" type="text/css" href="/css/elements/button/button_element.css">

    <link rel="stylesheet" type="text/css" href="/css/info_block/info_block.css">
    <link rel="stylesheet" type="text/css" href="/css/info_block/info_block_header.css">

    <link rel="stylesheet" type="text/css" href="/css/templates/customers/show_info_one.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

    <script type="module" src="/js/templates/customers/show_info_one.js"></script>
</head>
<body>
    <header>
        <div th:insert="~{layouts/header}"></div>
    </header>
    <main>
        <div th:class="${IS_CUSTOMER_OWNER == true ? 'div-customer-info-with-actions-container-owner' : ''}">
            <div class="div-info-block-container div-customer-info-container">
                <img class="img-avatar"
                     src="#"
                     th:src="${CURRENT_CUSTOMER.pathToAvatar != null
                    ? CURRENT_CUSTOMER.pathToAvatar
                    : '/customers/avatars/0'}" alt="customer.png"/>
                <div class="div-customer-data-container">
                    <div class="div-nickname-container">
                        <span th:class="'fi fi-' + ${CURRENT_CUSTOMER.country.code}"
                              th:title="${CURRENT_CUSTOMER.country.title}"></span>
                        <span th:text="${CURRENT_CUSTOMER.nickname}"
                              th:style="${CURRENT_CUSTOMER.role.color != null
                                ? 'color: #' + CURRENT_CUSTOMER.role.color.hexCode
                                : ''}"></span>
                    </div>
                    <div class="div-element-horizontal-delimiter"></div>
                    <div id="div_customer_description"
                         class="div-description-container"></div>
                    <div class="div-element-horizontal-delimiter"></div>
                    <div class="div-with-data-builder-element-container">
                        <div class="div-with-data-builder-element-row-container">
                            <span class="span-div-with-data-builder-element-row-left-content">ID:</span>
                            <span class="span-div-with-data-builder-element-row-right-content"
                                  th:text="${CURRENT_CUSTOMER.id}"></span>
                        </div>
                        <div class="div-with-data-builder-element-row-container">
                            <span class="span-div-with-data-builder-element-row-left-content">Дата регистрации:</span>
                            <span class="span-div-with-data-builder-element-row-right-content"
                                  th:text="${DATE_OF_CREATE}"></span>
                        </div>
                        <div class="div-with-data-builder-element-row-container">
                            <span class="span-div-with-data-builder-element-row-left-content">Был в сети:</span>
                            <span class="span-div-with-data-builder-element-row-right-content"
                                  th:text="${DATE_OF_LAST_VISIT}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-customer-actions-container" th:if="${IS_CUSTOMER_OWNER == true}">
                <a href="/customers/edit"
                   class="a-button-with-img-element-64 a-button-element-blue"
                   title="Изменить профиль">
                    <img src="/images/other/pencil.png"
                         alt="pencil.png"/>
                </a>
                <a href="/customers/exit"
                   class="a-button-with-img-element-64 a-button-element-red"
                   title="Выйти">
                    <img src="/images/templates/customers/entry.png"
                         alt="entry.png"/>
                </a>
            </div>
        </div>

        <div class="div-info-block-header-container-margin">
            <img src="/images/other/statistic.png"
                 alt="statistic.png"/>
            <h1>Статистика</h1>
        </div>
        <div class="div-instruments-for-table-container div-instruments-for-find-statistic-container">
            <div class="div-instrument-for-table-container">
                <label for="select_workout_types_workouts_customer_statistic">Режим тренировки</label>
                <div id="div_select_workout_types_workouts_customer_statistic" class="div-select-with-img-element-container">
                    <select id="select_workout_types_workouts_customer_statistic" class="select-element" disabled></select>
                    <div>
                        <div>
                            <img id="img_select_workout_types_workouts_customer_statistic" src="#" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-instrument-for-table-container">
                <label for="select_periods_workouts_customer_statistic">Период</label>
                <select id="select_periods_workouts_customer_statistic"
                        class="select-element" disabled></select>
            </div>
            <div class="div-instrument-for-table-container">
                <label for="button_refresh_workouts_customer_statistic"></label>
                <button id="button_refresh_workouts_customer_statistic"
                        class="button-with-img-element-32 button-element-default"
                        title="Обновить" disabled>
                    <img id="img_button_refresh_workouts_customer_statistic"
                         src="/images/other/refresh.png"
                         alt="refresh.png"/>
                </button>
            </div>
        </div>
        <div id="div_workouts_customer_statistic"
             class="div-info-block-container"
             style="min-height: 200px"></div>

        <div class="div-info-block-header-container-margin">
            <img src="/images/other/history.png"
                 alt="history.png"/>
            <h1>История тренировок</h1>
        </div>
        <div class="div-instruments-for-table-container div-instruments-for-find-workouts-container">
            <div class="div-instrument-for-table-container">
                <label for="select_workout_types_workouts_history">Режим тренировки</label>
                <div id="div_select_workout_types_workouts_history" class="div-select-with-img-element-container">
                    <select id="select_workout_types_workouts_history" class="select-element" disabled></select>
                    <div>
                        <div>
                            <img id="img_select_workout_types_workouts_history" src="#" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-instrument-for-table-container">
                <label for="button_refresh_workouts_history"></label>
                <button id="button_refresh_workouts_history"
                        class="button-with-img-element-32 button-element-default"
                        title="Обновить" disabled>
                    <img id="img_button_refresh_workouts_history"
                         src="/images/other/refresh.png"
                         alt="refresh.png"/>
                </button>
            </div>
        </div>
        <table id="table_workouts_history" class="table-element">
            <colgroup id="colgroup_workouts_history">
                <col style="width: 5%"/>
                <col style="width: 75%"/>
                <col style="width: 20%"/>
                <col style="width: 80px"/>
            </colgroup>
            <thead id="thead_workouts_history"
                   class="thead-table-element-medium">
                <tr>
                    <th>№</th>
                    <th>Тренировка</th>
                    <th>Время</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbody_workouts_history"></tbody>
        </table>
    </main>
</body>
</html>