<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - Пользователь - ${showCustomer.nickname}|">Пользователь</title>
    <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">

    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/templates/customers/show_one.css">
</head>
<body>
    <header>
        <div th:insert="~{layouts/header}"></div>
    </header>
    <main>
        <div class="customer-show-one-container">
            <div class="customer-info-container">
                <div class="info-block-standard" th:text="${showCustomer.nickname}"/>
                <div class="customer-info-img-container info-block-standard">
                    <img class="customer-info-img" src="/images/customer_roles/customer.png" alt="customer.png"/>
                </div>
                <div class="customer-info info-block-standard">
                    <div th:text="|ID: ${showCustomer.id}|">ID:</div>
                  <!--  <div th:text="|Дата регистрации: ${showCustomer.dateOfCreate}|">Дата регистрации:</div>
                    <div th:text="|Последний визит: ${showCustomer.dateOfLastVisit}|">Последний визит:</div> -->
                </div>
                <a class="a-button-standard a-customer-button" href="/customers/exit">
                    <img class="a-customer-button-img" src="/images/customers/entry.png" alt="entry.png"/>
                    <div>Выход</div>
                </a>
            </div>
            <div class="customer-info-extra-container">
                <div class="customer-info-stats">
                    <div class="info-block-standard"></div>
                    <div class="info-block-standard"></div>
                    <div class="info-block-standard"></div>
                </div>
                <div class="info-block-standard"></div>
            </div>
        </div>
    </main>
</body>
</html>