<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="|${WEB_APP_NAME} - Изменение статуса активности в языках|"></title>
        <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">

        <link rel="stylesheet" type="text/css" href="/css/root.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/img_sizes.css">

        <link rel="stylesheet" type="text/css" href="/css/span/span_element.css">
        <link rel="stylesheet" type="text/css" href="/css/span/span_loading_element.css">
        <link rel="stylesheet" type="text/css" href="/css/span/span_flag_element.css">
        <link rel="stylesheet" type="text/css" href="/css/span/span_rule_element.css">

        <link rel="stylesheet" type="text/css" href="/css/table/table_element.css">
        <link rel="stylesheet" type="text/css" href="/css/table/instruments_for_table.css">

        <link rel="stylesheet" type="text/css" href="/css/input/input_text_element.css">
        <link rel="stylesheet" type="text/css" href="/css/select/select_element.css">
        <link rel="stylesheet" type="text/css" href="/css/button/button_element.css">

        <link rel="stylesheet" type="text/css" href="/css/info_block/info_block_big_header.css">
        <link rel="stylesheet" type="text/css" href="/css/info_block/info_block_header.css">

        <link rel="stylesheet" type="text/css" href="/css/templates/special_actions/actions/edit_active_statuses_to_langs.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

        <script type="module" src="/js/templates/special_actions/edit_active_statuses_to_langs.js"></script>
    </head>
    <body>
        <header>
            <div th:insert="~{layouts/header}"></div>
        </header>
        <main>
            <div class="div-info-block-big-header-container">
                <div class="div-info-block-big-header-img-container">
                    <img src="/images/logo/logo.png"
                         alt="logo.png"/>
                </div>
                <div class="div-info-block-big-header-data-container">
                    <h1>Изменение статуса активности в языках</h1>
                    <div>
                        <span>
                            Изменяйте статусы активности в языках на вход и выход.
                            В каждой строке таблицы есть подсказка, поддерживается ли язык на входе и выходе в Yandex.Dictionary.
                            Если Yandex.Dictionary станет поддерживать новые языки, вы всегда сможете увидеть их коды в нижней таблице.
                        </span>
                    </div>
                    <br>
                </div>
            </div>
            <div class="div-actions-container">
                <button id="button_turn_on_supported_langs_in"
                        class="button-with-img-and-span-element-horizontal-32 button-element-green" disabled>
                    <span id="span_turn_on_supported_langs_in">Включить все поддерживаемые входящие языки</span>
                    <span>
                        <img id="img_turn_on_supported_langs_in"
                             src="/images/buttons/accept.png"
                             alt="add.png"/>
                    </span>
                </button>
                <button id="button_turn_off_unsupported_langs_in"
                        class="button-with-img-and-span-element-horizontal-32 button-element-red" disabled>
                    <span id="span_turn_off_unsupported_langs_in">Выключить все неподдерживаемые входящие языки</span>
                    <span>
                        <img id="img_turn_off_unsupported_langs_in"
                             src="/images/buttons/deny.png"
                             alt="deny.png"/>
                    </span>
                </button>
                <button id="button_turn_off_langs_in"
                        class="button-with-img-and-span-element-horizontal-32 button-element-red" disabled>
                    <span id="span_turn_off_langs_in">Выключить все входящие языки</span>
                    <span>
                        <img id="img_turn_off_langs_in"
                             src="/images/buttons/deny.png"
                             alt="deny.png"/>
                    </span>
                </button>
                <button id="button_turn_on_supported_langs_out"
                        class="button-with-img-and-span-element-horizontal-32 button-element-green" disabled>
                    <span id="span_turn_on_supported_langs_out">Включить все поддерживаемые выходящие языки</span>
                    <span>
                        <img id="img_turn_on_supported_langs_out"
                             src="/images/buttons/accept.png"
                             alt="add.png"/>
                    </span>
                </button>

                <button id="button_turn_off_unsupported_langs_out"
                        class="button-with-img-and-span-element-horizontal-32 button-element-red" disabled>
                    <span id="span_turn_off_unsupported_langs_out">Выключить все неподдерживаемые выходящие языки</span>
                    <span>
                        <img id="img_turn_off_unsupported_langs_out"
                             src="/images/buttons/deny.png"
                             alt="deny.png"/>
                    </span>
                </button>
                <button id="button_turn_off_langs_out"
                        class="button-with-img-and-span-element-horizontal-32 button-element-red" disabled>
                    <span id="span_turn_off_langs_out">Выключить все выходящие языки</span>
                    <span>
                        <img id="img_turn_off_langs_out"
                             src="/images/buttons/deny.png"
                             alt="deny.png"/>
                    </span>
                </button>
            </div>

            <div class="div-info-block-header-container-margin">
                <img src="/images/logo/logo.png"
                     alt="logo.png"/>
                <h1 th:text="'Языки, присутствующие в базе ' + ${WEB_APP_NAME}"></h1>
            </div>
            <div class="div-instruments-for-table-container div-instruments-for-find-langs-container">
                <div class="div-instrument-for-table-container">
                    <label for="input_text_finder_langs">Поиск:</label>
                    <input id="input_text_finder_langs"
                           class="input-text-element"
                           type="text" disabled>
                </div>
                <div class="div-instrument-for-table-container">
                    <label for="select_is_active_for_in_langs">Активен на вход:</label>
                    <select id="select_is_active_for_in_langs" class="select-element"></select>
                </div>
                <div class="div-instrument-for-table-container">
                    <label for="select_is_active_for_out_langs">Активен на выход:</label>
                    <select id="select_is_active_for_out_langs" class="select-element"></select>
                </div>
                <div class="div-instrument-for-table-container">
                    <label for="button_refresh_langs"></label>
                    <button id="button_refresh_langs"
                            class="button-with-img-element-32 button-element-default"
                            title="Обновить" disabled>
                        <img id="img_button_refresh_langs"
                             src="/images/other/refresh.png"
                             alt="refresh.png"/>
                    </button>
                </div>
            </div>
            <table id="table_langs" class="table-element">
                <colgroup id="colgroup_langs">
                    <col style="width: 5%;">
                    <col style="width: 35%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead id="thead_langs"
                       class="thead-table-element-medium">
                    <tr>
                        <th>№</th>
                        <th>Язык</th>
                        <th>Активен на вход</th>
                        <th>Активен на выход</th>
                        <th>Поддержка на вход</th>
                        <th>Поддержка на выход</th>
                    </tr>
                </thead>
                <tbody id="tbody_langs"></tbody>
            </table>

            <div class="div-info-block-header-container-margin">
                <img src="/images/logo/logo.png" alt="logo.png"/>
                <h1 th:text="'Языки, отсутствующие в базе ' + ${WEB_APP_NAME}"></h1>
            </div>
            <div class="div-instruments-for-table-container div-instruments-for-find-new-langs-container">
                <div class="div-instrument-for-table-container">
                    <label></label>
                    <label></label>
                </div>
                <div class="div-instrument-for-table-container">
                    <label for="button_refresh_new_langs"></label>
                    <button id="button_refresh_new_langs"
                            class="button-with-img-element-32 button-element-default"
                            title="Обновить" disabled>
                        <img id="img_button_refresh_new_langs"
                             src="/images/other/refresh.png"
                             alt="refresh.png"/>
                    </button>
                </div>
            </div>
            <table id="table_new_langs" class="table-element">
                <colgroup id="colgroup_new_langs">
                    <col style="width: 5%;">
                    <col style="width: 65%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead id="thead_new_langs"
                       class="thead-table-element-medium">
                <tr>
                    <th>№</th>
                    <th>Код языка переводчика</th>
                    <th>Поддержка на вход</th>
                    <th>Поддержка на выход</th>
                </tr>
                </thead>
                <tbody id="tbody_new_langs"></tbody>
            </table>
        </main>
    </body>
</html>