div.new-collections-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.new-collections-container-item {
    min-height: 90px;

    display: grid;
    grid: 1fr / 1fr 60px;
    gap: 10px;
}

div.new-collection-data {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 10px;
}

div.new-collection-data-item {
    display: grid;
    grid: 25px 50px 1fr / 1fr;
    gap: 5px;
}

a.a-btn-new-collection {
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

img.btn-new-collection-img {
    width: 16px;
    height: 16px;
}

div.send-new-collections-container {
    display: grid;
    align-items: center;
    grid: 1fr / 4fr 1fr;
}

form.send-new-collections-form {
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

input.btn-send {
    width: 200px;
}