main {
    min-height: 1500px;
}

div.div-actions-container {
    min-height: 250px;

    display: grid;
    gap: 10px;
}

div.div-instruments-for-find-customer-collections-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 60px;
}