main {
    min-height: 1500px;
}

div.div-statistics-container {
    min-height: 150px;

    display: grid;
    align-items: center;
}

div.div-actions-container {
    min-height: 250px;

    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 10px;
}

div.div-instruments-for-find-words-in-collection-container {
    display: grid;
    grid-template-columns: 2fr 1fr 60px;
}