main {
    min-height: 1500px;
}

div.statistics-container {
    min-height: 150px;

    display: grid;
    align-items: center;
}

div.actions-container {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 10px;
}

div.action {
    height: 250px;

    font-size: var(--third-font-size);
    font-weight: bold;
}

img.img-action {
    width: 128px;
    height: 128px;
}

div.instruments-for-find-words-in-collection-container {
    display: grid;
    grid-template-columns: 2fr 1fr 50px;
}
