<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${WEB_APP_NAME} + ' - Настройка режима тренировки ' +
                          '&quot;' + ${WORKOUT_TYPE.title} + '&quot;'">Настройка режима тренировки</title>
        <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">

        <link rel="stylesheet" type="text/css" href="/css/span/span_element.css">
        <link rel="stylesheet" type="text/css" href="/css/span/span_loading_element.css">
        <link rel="stylesheet" type="text/css" href="/css/span/span_rule_element.css">
        <link rel="stylesheet" type="text/css" href="/css/span/span_flag_element.css">

        <link rel="stylesheet" type="text/css" href="/css/table/table_element.css">
        <link rel="stylesheet" type="text/css" href="/css/table/instruments_for_table.css">

        <link rel="stylesheet" type="text/css" href="/css/div/div_element.css">
        <link rel="stylesheet" type="text/css" href="/css/div/div_with_data_builder_element.css">

        <link rel="stylesheet" type="text/css" href="/css/form/form_element.css">
        <link rel="stylesheet" type="text/css" href="/css/label/label_element.css">
        <link rel="stylesheet" type="text/css" href="/css/input/input_text_element.css">
        <link rel="stylesheet" type="text/css" href="/css/select/select_element.css">
        <link rel="stylesheet" type="text/css" href="/css/button/button_element.css">
        <link rel="stylesheet" type="text/css" href="/css/a/a_button_element.css">

        <link rel="stylesheet" type="text/css" href="/css/info_block/info_block.css">
        <link rel="stylesheet" type="text/css" href="/css/info_block/info_block_header.css">
        <link rel="stylesheet" type="text/css" href="/css/info_block/info_block_big_header.css">

        <link rel="stylesheet" type="text/css" href="/css/templates/workouts/types/general.css">
        <link rel="stylesheet" type="text/css" href="/css/templates/workouts/types/collection_workout.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

        <script type="module" src="/js/templates/workouts/types/collection_workout.js"></script>
    </head>
    <body>
        <header>
          <div th:insert="~{layouts/header}"></div>
        </header>
        <main>
            <div class="div-info-block-big-header-container">
                <div class="div-info-block-big-header-img-container">
                    <img src="#"
                         th:src="${WORKOUT_TYPE.pathToImage}"
                         alt="workout_type.png"/>
                </div>
                <div class="div-info-block-big-header-data-container">
                    <h1 th:text="${WORKOUT_TYPE.title}"></h1>
                    <div>
                        <span th:text="${WORKOUT_TYPE.description}"></span>
                    </div>
                    <br>
                </div>
            </div>
            <div class="div-prepare-to-start-workout-container">
                <div class="div-new-workout-settings">
                    <div class="div-info-block-header-container">
                        <img src="#"
                             th:src="${WORKOUT_TYPE.pathToImage}"
                             alt="collection_workout.png"/>
                        <h1>Новая тренировка</h1>
                    </div>
                    <div class="div-info-block-container">
                        <form id="form_workout_collection_workout"
                              action="/workouts/start"
                              class="form-element">
                            <div class="div-form-element-item">
                                <label for="select_customer_collections" class="label-required-element">
                                    <span>Коллекция, которую будете тренировать</span>
                                    <span> </span>
                                    <span class="span-label-required-element-red-star">*</span>
                                </label>
                                <div id="div_select_customer_collections" class="div-select-with-flag-element-container">
                                    <select id="select_customer_collections" class="select-element" disabled></select>
                                    <div>
                                        <div>
                                            <span id="span_flag_select_customer_collections"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="div-form-element-item">
                                <label for="select_langs_out" class="label-required-element">
                                    <span>Язык, на который будете переводить</span>
                                    <span> </span>
                                    <span class="span-label-required-element-red-star">*</span>
                                </label>
                                <div id="div_select_langs_out" class="div-select-with-flag-element-container">
                                    <select id="select_langs_out" class="select-element" disabled></select>
                                    <div>
                                        <div>
                                            <span id="span_flag_select_langs_out"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="div-element-horizontal-delimiter"></div>
                            <div class="div-form-element-actions-container">
                                <button id="button_submit_workout_collection_workout"
                                        type="submit"
                                        class="button-submit"
                                        disabled>Начать тренировку</button>
                                <button id="button_reset_workout_collection_workout"
                                        type="reset"
                                        class="button-reset"
                                        title="Сбросить настройки" disabled>
                                    <img src="/images/buttons/delete.png"
                                         alt="delete.png"/>
                                </button>
                            </div>
                            <div id="div_message_container_workout_collection_workout"
                                 class="div-form-element-message-container"></div>
                        </form>
                    </div>
                </div>
                <div class="div-not-over-workouts">
                    <div class="div-info-block-header-container">
                        <img src="/images/other/history.png"
                             alt="history.png"/>
                        <h1>Незавершённые тренировки</h1>
                    </div>
                    <div class="div-instruments-for-table-container div-instruments-for-find-not-over-workouts-container">
                        <div class="div-instrument-for-table-container">
                            <label></label>
                            <label></label>
                        </div>
                        <div class="div-instrument-for-table-container">
                            <label for="button_refresh_workouts_not_over"></label>
                            <button id="button_refresh_workouts_not_over"
                                    class="button-with-img-element-32 button-element-default"
                                    title="Обновить" disabled>
                                <img id="img_refresh_workouts_not_over"
                                     src="/images/buttons/refresh.png"
                                     alt="refresh.png"/>
                            </button>
                        </div>
                    </div>
                    <table id="table_workouts_not_over"
                           class="table-element">
                        <colgroup id="colgroup_workouts_not_over">
                            <col style="width: 5%"/>
                            <col style="width: 65%"/>
                            <col style="width: 30%"/>
                            <col style="width: 80px"/>
                        </colgroup>
                        <thead id="thead_workouts_not_over"
                               class="thead-table-element-medium">
                        <tr>
                            <th>№</th>
                            <th>Тренировка</th>
                            <th>Время</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="tbody_workouts_not_over"></tbody>
                    </table>
                </div>
            </div>
            <div class="div-instruments-for-table-container div-instruments-for-find-words-in-collection-container">
                <div class="div-instrument-for-table-container">
                    <label for="input_text_finder_words_in_collection">Слово</label>
                    <input id="input_text_finder_words_in_collection"
                           type="text"
                           class="input-text-element" disabled>
                </div>
                <div class="div-instrument-for-table-container">
                    <label></label>
                    <button id="button_refresh_words_in_collection"
                            class="button-with-img-element-32 button-element-default"
                            title="Обновить" disabled>
                        <img id="img_refresh_words_in_collection"
                             src="/images/buttons/refresh.png"
                             alt="refresh.png"/>
                    </button>
                </div>
            </div>
            <div id="div_customer_collection_info"
                 class="div-info-block-container"
                 style="min-height: 200px"></div>
            <table id="table_words_in_collection"
                   class="table-element">
                <colgroup id="colgroup_words_in_collection">
                    <col style="width: 5%;">
                    <col style="width: 65%;">
                    <col style="width: 30%;">
                </colgroup>
                <thead id="thead_words_in_collection"
                       class="thead-table-element-medium">
                    <tr>
                        <th>№</th>
                        <th>Слово</th>
                        <th>Язык</th>
                    </tr>
                </thead>
                <tbody id="tbody_words_in_collection"></tbody>
            </table>
        </main>
    </body>
</html>