<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${WEB_APP_NAME} + ' - Настройка режима тренировки ' +
                    '&quot;' + ${WORKOUT_TYPE.title} + '&quot;'">Настройка режима тренировки</title>
    <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">

    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/info_blocks/big_info_block.css">
    <link rel="stylesheet" type="text/css" href="/css/info_blocks/small_info_block.css">
    <link rel="stylesheet" type="text/css" href="/css/other/rule.css">
    <link rel="stylesheet" type="text/css" href="/css/other/loading.css">
    <link rel="stylesheet" type="text/css" href="/css/other/element_with_flag.css">
    <link rel="stylesheet" type="text/css" href="/css/entity/workout_info.css">
    <link rel="stylesheet" type="text/css" href="/css/templates/workouts/types/general.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

    <script type="module" src="/js/templates/workouts/types/random_words.js"></script>
</head>
    <body>
        <header>
            <div th:insert="~{layouts/header}"></div>
        </header>
        <main>
            <div class="big-info-block-container">
                <div class="big-info-block-left-container">
                    <img class="img-big-info-block"
                         src="#"
                         th:src="${WORKOUT_TYPE.pathToImage}"
                         alt="workout_type.png"/>
                </div>
                <div class="big-info-block-right-container">
                    <h1 class="h1-big-info-block"
                        th:text="${WORKOUT_TYPE.title}">Название режима тренировки</h1>
                    <div class="big-info-block-text"
                         th:text="${WORKOUT_TYPE.message}">
                        Информация о режиме тренировки.
                    </div>
                    <br>
                </div>
            </div>
            <div class="workout-container">
                <div class="workout-item">
                    <div class="small-info-block-container">
                        <img class="img-small-info-block"
                             src="/images/other/add.png"
                             alt="add.png"/>
                        <h1 class="h1-small-info-block">Новая тренировка</h1>
                    </div>
                    <div class="new-workout-start-container">
                        <div class="info-block-standard">
                            <form action="/workouts/start" id="submit_send" class="form-standard">
                                <div class="form-item-standard" id="div_lang_in_container">
                                    <label class="label-standard" for="cb_langs_in">Язык, с которого будете переводить:</label>
                                    <div class="element-with-flag-container">
                                        <select id="cb_langs_in" class="select-standard"></select>
                                        <div class="flag-container">
                                            <div id="lang_in_flag"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-item-standard" id="div_lang_out_container">
                                    <label class="label-standard" for="cb_langs_out">Язык, на который будете переводить:</label>
                                    <div class="element-with-flag-container">
                                        <select id="cb_langs_out" class="select-standard"></select>
                                        <div class="flag-container">
                                            <div id="lang_out_flag"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-item-standard" id="div_number_of_words_container">
                                    <label class="label-standard" for="cb_number_of_words">Количество слов:</label>
                                    <select id="cb_number_of_words" class="select-standard"></select>
                                </div>
                                <div class="horizontal-delimiter"></div>
                                <div class="form-actions-container">
                                    <input id="btn_submit" type="submit"
                                           class="submit-standard" value="Начать тренировку">
                                    <button id="btn_drop_workout_settings" type="button"
                                            class="button-with-img-standard"
                                            title="Сбросить настройки">
                                        <img class="img-btn-drop"
                                             src="/images/other/trash.png" alt="trash.png"/>
                                    </button>
                                </div>
                                <div id="workout_start_info_container" class="workout-start-info-container"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="workout-item">
                    <div class="small-info-block-container">
                        <img class="img-small-info-block"
                             src="/images/other/history.png"
                             alt="history.png"/>
                        <h1 class="h1-small-info-block">Незавершённые тренировки</h1>
                    </div>
                    <div id="not_over_workouts_container" class="info-block-standard"></div>
                </div>
            </div>
        </main>
    </body>
</html>