<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - Создание новых коллекций|">Создание новых коллекций</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">

    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/customer_collections/new.css">

    <script type="module" src="/js/customer_collections/new.js"></script>
</head>
<body>
    <header>
        <div th:insert="~{layouts/header}"></div>
    </header>
    <main>
        <div class="block-info-standard new-collections-message-container">
            <div class="new-collections-message-left">
                <img class="new-collections-message-img" src="/images/new_collection.png"
                     alt="new_collection.png"/>
            </div>
            <div class="new-collections-message-right">
                <p class="new-collections-message-header">Создание новых коллекций</p>
                <div class="new-collections-message-text">
                    Создавайте коллекции слов для изучения и тренировки.
                    За раз можно создать не более 5-ти коллекций.
                    Помните, что коллекции без конкретного языка нельзя тренировать.
                </div>
                <br>
            </div>
        </div>
        <div class="new-collections-container" id="new_collections_container"></div>
        <a class="a-button-accept-standard btn-new-collection" id="btn_new_collection">
            <img class="btn-new-collection-img" src="/images/add.png" alt="add.png">
        </a>
        <div class="send-new-collections-container block-info-standard">
            <div id="send_new_collections_info"></div>
            <form method="GET" action="/customer_collections" class="send-new-collections-form" id="submit_send">
                <input type="submit" class="submit-standard btn-send" value="Создать" id="submit_btn">
            </form>
        </div>
    </main>
</body>
</html>