<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - Создание коллекции по ключу|">Создание коллекции по ключу</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">

    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/other/collection_info.css">
    <link rel="stylesheet" type="text/css" href="/css/customer_collections/new_by_key.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

    <script type="module" src="/js/customer_collections/new_by_key.js"></script>
</head>
    <body>
        <header>
            <div th:insert="~{layouts/header}"></div>
        </header>
        <main>
            <div class="block-info-standard new-collection-by-key-message-container">
                <div class="new-collection-by-key-message-left">
                    <img class="new-collection-by-key-message-img" src="/images/new_collection_by_key.png"
                         alt="new_collection_by_key.png"/>
                </div>
                <div class="new-collection-by-key-message-right">
                    <p class="new-collection-by-key-message-header">Создание коллекции по ключу</p>
                    <div class="new-collection-by-key-message-text">
                        Вы можете создать новую коллекцию на основе существующей.
                        Код коллекции можно получить на странице
                        <a href="/customer_collections">"Мои коллекции"</a> при выборе коллекции из выпадающего списка.
                        Обменивайтесь кодами с друзьями, тренируйтесь вместе!
                    </div>
                    <br>
                </div>
            </div>
            <div class="new-collection-by-key-container">
                <div class="block-info-standard new-collection-by-key-data">
                    <div class="new-collection-by-key-data-item" id="tb_title_container">
                        <label for="tb_title">Название новой коллекции:</label>
                        <input type="text" class="text-standard" id="tb_title">
                    </div>
                    <div class="new-collection-by-key-data-item" id="tb_key_container">
                        <label for="tb_key">Ключ существующей коллекции:</label>
                        <input type="text" class="text-standard" id="tb_key" placeholder="ZRX22JR761HDWOSLE3OD">
                    </div>
                    <form method="GET" action="/customer_collections" id="submit_send">
                        <input type="submit" class="submit-standard btn-send" value="Создать"
                               id="btn_send">
                    </form>
                    <div class="send-new-collection-by-key-info" id="send_new_collection_by_key_info"></div>
                </div>
                <div id="div_collection_info" class="collection-info"></div>
            </div>
            <div class="collection-words-instruments">
                <div class="collection-words-instruments-item">
                    <label class="label-for-input-standard" for="tb_finder">Поиск:</label>
                    <input id="tb_finder" class="text-standard" type="text">
                </div>
                <div class="collection-words-instruments-item">
                    <label class="label-for-input-standard" for="cb_langs">Язык:</label>
                    <select id="cb_langs" class="select-standard"></select>
                </div>
                <div class="collection-words-instruments-item">
                    <label class="label-for-input-standard" for="cb_parts_of_speech">Часть речи:</label>
                    <select id="cb_parts_of_speech" class="select-standard"></select>
                </div>
                <div class="collection-words-instruments-item">
                    <label class="label-for-input-standard" for="btn_refresh"></label>
                    <button id="btn_refresh" class="btn-refresh-standard" title="Обновить">
                        <img class="btn-refresh-standard-img" src="/images/refresh.png" alt="refresh.png"/>
                    </button>
                </div>
            </div>
            <div class="collection-words-container" id="collection_word_list_container">
                <table class="table-standard">
                    <colgroup>
                        <col style="width: 5%;">
                        <col style="width: 55%;">
                        <col style="width: 20%;">
                        <col style="width: 20%;">
                    </colgroup>
                    <thead id="collection_word_table_head">
                    <tr>
                        <th>№</th>
                        <th>Слово</th>
                        <th>Язык</th>
                        <th>Часть речи</th>
                    </tr>
                    </thead>
                    <tbody id="collection_word_table_body"></tbody>
                </table>
            </div>
        </main>
    </body>
</html>