<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - Мои коллекции|">Мои коллекции</title>
    <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">

    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/info_blocks/big_info_block.css">
    <link rel="stylesheet" type="text/css" href="/css/info_blocks/dynamic_info_block.css">
    <link rel="stylesheet" type="text/css" href="/css/other/instruments_for_table.css">
    <link rel="stylesheet" type="text/css" href="/css/other/collection_info.css">
    <link rel="stylesheet" type="text/css" href="/css/other/loading.css">
    <link rel="stylesheet" type="text/css" href="/css/other/element_with_flag.css">
    <link rel="stylesheet" type="text/css" href="/css/templates/customer_collections/show.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

    <script type="module" src="/js/templates/customer_collections/show.js"></script>
</head>
<body>
    <header>
        <div th:insert="~{layouts/header}"></div>
    </header>
    <main>
        <div class="big-info-block-container">
            <div class="big-info-block-left-container">
                <img class="img-big-info-block"
                     src="/images/customer_collections/customer_collections.png"
                     alt="customer_collections.png"/>
            </div>
            <div class="big-info-block-right-container">
                <h1 class="h1-big-info-block">Мои коллекции</h1>
                <div class="big-info-block-text">
                    Здесь вы можете посмотреть ваши коллекции со словами. Создавайте новые коллекции,
                    добавляйте в них слова на странице
                    <a href="/words">"Cлова"</a>.
                </div>
                <br>
                <div class="big-info-block-text statistics-container">
                    <div id="collections_statistics_container"></div>
                </div>
            </div>
        </div>
        <div class="actions-container">
            <a class="a-button-standard" href="/customer_collections/new">
                <div class="vertical-flex-container-standard action">
                    <img class="img-action" src="/images/customer_collections/new_collection.png" alt="new_collection.png"/>
                    <div>Создать новые коллекции</div>
                </div>
            </a>
            <a class="a-button-standard" href="/customer_collections/collections_settings">
                <div class="vertical-flex-container-standard action">
                    <img class="img-action"
                         src="/images/customer_collections/collections_settings.png"
                         alt="collections_settings.png"/>
                    <div>Управление коллекциями</div>
                </div>
            </a>
        </div>
        <div class="instruments-for-table-container-margin instruments-for-find-words-in-collection-container">
            <div class="label-for-input-container">
                <label class="label-standard" for="tb_finder">Поиск:</label>
            </div>
            <input id="tb_finder" class="text-standard" type="text">

            <div class="label-for-input-container">
                <label class="label-standard" for="cb_customer_collections">Коллекция:</label>
            </div>
            <div class="element-with-flag-container">
                <select id="cb_customer_collections" class="select-standard"></select>
                <div class="flag-container">
                    <div id="collection_flag"></div>
                </div>
            </div>

            <div class="label-for-input-container"></div>
            <button id="btn_refresh" class="button-with-img-standard" title="Обновить">
                <img class="img-btn-refresh" src="/images/other/refresh.png" alt="refresh.png"/>
            </button>
        </div>
        <div id="div_collection_info" class="info-block-standard collection-info"></div>
        <table class="table-standard">
            <colgroup>
                <col style="width: 5%;">
                <col style="width: 65%;">
                <col style="width: 30%;">
                <col style="width: 50px;">
            </colgroup>
            <thead id="collection_word_table_head">
            <tr>
                <th>№</th>
                <th>Слово</th>
                <th>Язык</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="collection_word_table_body"></tbody>
        </table>
    </main>
</body>
</html>