main {
    min-height: 1300px;
}

div.statistics-container {
    min-height: 150px;

    display: flex;
    flex-direction: column;
}

div.instruments-for-find-word-histories-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 50px;
}