main {
    min-height: 1300px;
}

div.div-statistics-container {
    min-height: 150px;

    display: grid;
    align-items: center;
}

div.div-instruments-for-find-word-histories-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 60px;
}