main {
    min-height: 1500px;
}

div.statistics-container {
    min-height: 150px;

    display: flex;
    flex-direction: column;
}

div.actions-container {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 10px;
}

div.action {
    height: 250px;

    font-size: var(--third-font-size);
    font-weight: bold;
}

img.img-action {
    width: 128px;
    height: 128px;
}

div.instruments-for-find-words-container {
    grid-template-columns: 2fr 1fr 50px;
}

div.instruments-for-find-words-container-auth {
    grid-template-columns: 2fr 1fr 1.5fr 50px;
}

div.collection-info {
    height: 250px;

    display: grid;
    align-items: center;
}