<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - ресурс для изучения иностранных слов|"></title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo/logo.ico}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/root.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/img_sizes.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/a/a_button_element.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/templates/index.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>
</head>
<body>
    <header>
        <div th:insert="~{layouts/header}"></div>
    </header>
    <main>
        <div class="div-hello-container">
            <h1 th:text="|Добро пожаловать на ресурс ${WEB_APP_NAME}|"></h1>
            <span>
                Изучайте и тренируйте <span th:text="|${NUMBER_OF_WORDS_TEXT}|"/>
                на <span th:text="|${NUMBER_OF_LANGS_TEXT}|"/>.
            </span>
        </div>
        <div class="div-actions-container">
            <a th:href="@{/workouts}" class="a-button-with-img-and-span-element-vertical-128 a-button-element-default">
                <span>
                    <img th:src="@{/images/templates/workouts/workout.png}"
                         src=""
                         alt="">
                </span>
                <span>Тренироваться</span>
            </a>
            <a th:href="@{/words}" class="a-button-with-img-and-span-element-vertical-128 a-button-element-default">
                <span>
                    <img th:src="@{/images/templates/words/words.png}"
                         src=""
                         alt="">
                </span>
                <span>Слова</span>
            </a>
            <a th:href="@{/customer_collections}" class="a-button-with-img-and-span-element-vertical-128 a-button-element-default">
                <span>
                    <img th:src="@{/images/templates/customer_collections/customer_collections.png}"
                         src=""
                         alt="">
                </span>
                <span>Мои коллекции</span>
            </a>
        </div>
    </main>
</body>
</html>