<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - ресурс для изучения иностранных слов|">Main</title>
    <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">

    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/info_blocks/medium_info_block.css">
    <link rel="stylesheet" type="text/css" href="/css/templates/index.css">
</head>
<body>
    <header>
        <div th:insert="~{layouts/header}"></div>
    </header>
    <main>
        <div class="medium-info-block-container hello-message-container">
            <h1 class="h1-medium-info-block h1-hello-message"
               th:text="|Добро пожаловать на ресурс ${WEB_APP_NAME}|">${helloMessageText}</h1>
            <div class="medium-info-block-text hello-message-text">
                Изучайте и тренируйте
                <span th:text="|${NUMBER_OF_WORDS_TEXT}|"/>
                 на
                <span th:text="|${NUMBER_OF_LANGS_TEXT}|"/>.
            </div>
        </div>
        <div class="actions-container">
            <a class="a-button-standard" href="/workouts">
                <div class="vertical-flex-container-standard action">
                    <img class="action-img" src="/images/workouts/brain.png" alt="workout.png">
                    <div>Тренироваться</div>
                </div>
            </a>
            <a class="a-button-standard" href="/words">
                <div class="vertical-flex-container-standard action">
                    <img class="action-img" src="/images/words/words.png" alt="all_words.png">
                    <div>Слова</div>
                </div>
            </a>
            <a class="a-button-standard" href="/customer_collections">
                <div class="vertical-flex-container-standard action">
                    <img class="action-img" src="/images/customer_collections/customer_collections.png" alt="customer_collections.png">
                    <div>Мои коллекции</div>
                </div>
            </a>
            <a class="a-button-disabled-standard">
                <div class="vertical-flex-container-standard action">
                    <img class="action-img" src="/images/rating.png" alt="rating.png">
                    <div>Рейтинг</div>
                </div>
            </a>
        </div>
    </main>
</body>
</html>