nav {
    display: grid;
    grid: 1fr / 2fr 1fr;

    background: rgba(var(--main-second-color-rgb), var(--opacity-standard)) ;
}


div.div-nav-left-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

div.div-nav-right-container {
    display: flex;
    flex-direction: row;
    justify-content: right;

    margin-right: 20px;
}

div.div-a-nav-customer-img-container {
    display: grid;
    justify-content: center;
    align-items: center;
}
div.div-a-nav-customer-img-container > img {
    width: 48px;
    height: 48px;

    border-radius: 100%;
    border: 2px solid black;
    background: white;
}

div.div-a-nav-customer-info-container {
    display: grid;
    grid: 1fr 1fr / 1fr;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

div.div-a-nav-customer-nickname-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

div.div-a-nav-customer-info-extra-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

div.div-a-nav-customer-info-extra-container-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

div.div-a-nav-customer-info-extra-container-item > img {
    width: 16px;
    height: 16px;
}


a.a-nav-item,
a.a-nav-item-disabled,
a.a-nav-logotype,
a.a-nav-customer {
    min-width: 100px;
    max-width: 200px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;

    cursor: pointer;
    text-align: center;

    color: black;
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
    font-size: var(--small-font-size);
}
a.a-nav-item:hover,
a.a-nav-customer:hover {
    background: rgba(var(--main-third-color-rgb), var(--opacity-standard));
}
a.a-nav-item > img {
    width: 32px;
    height: 32px;
}

a.a-nav-item-disabled {
    pointer-events: none;
    cursor: default;

    opacity: 0.5;
}
a.a-nav-item-disabled > img {
    width: 32px;
    height: 32px;
}

a.a-nav-logotype {
    width: 320px;
    max-width: none;

    font-size: var(--big-font-size);
}
a.a-nav-logotype > img {
    width: 64px;
    height: 64px;
}

a.a-nav-customer {
    max-width: none;

    display: grid;
    grid: 1fr / 60px 1fr;
}


span.span-customer-nickname {
    text-decoration: underline dotted;
    font-size: var(--small-font-size);
    font-weight: bold;
}