nav {
    display: grid;
    grid: 80px / 1fr 1fr;

    background: rgba(var(--second-color-rgb), var(--opacity-standard)) ;
}

div.nav-left-container {
    grid-column: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

a.nav-item, a.nav-item-disabled {
    -webkit-appearance: button;
    -moz-appearance: button;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100px;
    gap: 10px;
    padding: 5px;

    color: black;
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
}

a.nav-item:hover {
    background: rgba(var(--third-color-rgb), var(--opacity-standard));
}

a.nav-item-disabled {
    pointer-events: none;
    cursor: default;

    opacity: 0.5;
}

img.nav-item-img {
    width: 32px;
    height: 32px;
}

a.nav-logotype {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    gap: 10px;
    padding: 5px;

    color: black;
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 40px;
}

img.nav-logotype-img {
    width: 64px;
    height: 64px;
}

div.authorization-container {
    grid-column: 2;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

div.auth-customer-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

img.auth-customer-img {
    width: 48px;
    height: 48px;

    border-radius: 100%;
    border: 2px solid black;
    background: white;
}

div.auth-customer-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

div.auth-customer-info-extra-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

div.auth-customer-info-extra-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

img.auth-customer-info-extra-item-img {
    width: 16px;
    height: 16px;
}

div.customer-nickname-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

span.customer-nickname {
    text-decoration: underline dotted;
    font-size: var(--third-font-size);
    font-weight: bold;
}

div.nav-special-actions-text {
    padding: 5px;
    max-width: 100px;
}