<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${WEB_APP_NAME} + ' - Настройка режима тренировки ' +
                    '&quot;' + ${WORKOUT_TYPE.title} + '&quot;'">Настройка режима тренировки</title>
    <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">

    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/info_blocks/info_block_with_img_and_header.css">
    <link rel="stylesheet" type="text/css" href="/css/other/rule.css">
    <link rel="stylesheet" type="text/css" href="/css/other/loading.css">
    <link rel="stylesheet" type="text/css" href="/css/other/element_with_flag.css">
    <link rel="stylesheet" type="text/css" href="/css/workouts/general.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

    <script type="module" src="/js/templates/workouts/random_words.js"></script>
</head>
    <body>
        <header>
            <div th:insert="~{layouts/header}"></div>
        </header>
        <main>
            <div class="info-block-with-img-and-header-container">
                <div class="info-block-with-img-and-header-left-container">
                    <img class="img-info-block-with-img-and-header"
                         th:src="${WORKOUT_TYPE.pathToImage}"
                         alt="workout_type.png"/>
                </div>
                <div class="info-block-with-img-and-header-right-container">
                    <h1 class="h1-info-block-with-img-and-header"
                        th:text="${WORKOUT_TYPE.title}">Название режима тренировки</h1>
                    <div class="info-block-with-img-and-header-text"
                         th:text="${WORKOUT_TYPE.message}">
                        Информация о режиме тренировки.
                    </div>
                    <div class="info-block-with-img-and-header-text">
                        Настройки этого режима сохранятся, если вы поставите галочку в поле
                        <span style="font-weight: bold">&quot;Сохранить настройки&quot;</span>
                        и начнёте тренировку.
                    </div>
                    <br>
                </div>
            </div>
            <div class="workout-container">
                <div class="info-block-standard workout-item">
                    <div class="workout-item-header-container">
                        <img class="img-workout-item-header"
                             src="/images/other/flame.png"
                             alt="flame.png"/>
                        <h1 class="h1-workout-item-header">Лучшая тренировка</h1>
                    </div>
                    <div class="horizontal-delimiter"></div>
                </div>
                <div class="info-block-standard workout-item">
                    <div class="workout-item-header-container">
                        <img class="img-workout-item-header"
                             src="/images/other/history.png"
                             alt="history.png"/>
                        <h1 class="h1-workout-item-header">Последняя тренировка</h1>
                    </div>
                    <div class="horizontal-delimiter"></div>
                </div>
                <div class="info-block-standard workout-item">
                    <div class="workout-item-header-container">
                        <img class="img-workout-item-header"
                             src="/images/other/settings.png"
                             alt="settings.png"/>
                        <h1 class="h1-workout-item-header">Настройка тренировки</h1>
                    </div>
                    <div class="horizontal-delimiter"></div>
                    <form action="/workouts" id="submit_send" class="form-standard">
                        <div class="form-item-standard" id="div_in_lang_container">
                            <label class="label-standard" for="cb_in_langs">Язык, с которого будете переводить:</label>
                            <div class="element-with-flag-container">
                                <select id="cb_in_langs" class="select-standard"></select>
                                <div class="flag-container">
                                    <div id="in_lang_flag"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-item-standard" id="div_out_lang_container">
                            <label class="label-standard" for="cb_out_langs">Язык, на который будете переводить:</label>
                            <div class="element-with-flag-container">
                                <select id="cb_out_langs" class="select-standard"></select>
                                <div class="flag-container">
                                    <div id="out_lang_flag"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-item-standard" id="div_number_of_words_container">
                            <label class="label-standard" for="cb_number_of_words">Количество слов:</label>
                            <select id="cb_number_of_words" class="select-standard"></select>
                        </div>
                        <div class="horizontal-delimiter"></div>
                        <input id="submit_btn" type="submit" class="submit-standard" value="Начать тренировку">
                        <div id="workout_start_info_container" class="workout-start-info-container"></div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>