<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${WEB_APP_NAME} - Тренироваться|">Тренироваться</title>
    <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">
    <link rel="stylesheet" type="text/css" href="/css/root.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/info_blocks/info_block_with_img_and_header.css">
    <link rel="stylesheet" type="text/css" href="/css/other/loading.css">
    <link rel="stylesheet" type="text/css" href="/css/templates/workouts/show.css">

    <script type="module" src="/js/templates/workouts/show.js"></script>
</head>
    <body>
        <header>
            <div th:insert="~{layouts/header}"></div>
        </header>
        <main>
            <div class="info-block-with-img-and-header-container">
                <div class="info-block-with-img-and-header-left-container">
                    <img class="img-info-block-with-img-and-header" src="/images/workouts/brain.png" alt="workout.png"/>
                </div>
                <div class="info-block-with-img-and-header-right-container">
                    <h1 class="h1-info-block-with-img-and-header">Тренироваться</h1>
                    <div class="info-block-with-img-and-header-text">
                        Тренировки созданы с целью повысить ваш словарный запас.
                        Каждую тренировку можно прервать и продолжить в любой момент.
                    </div>
                    <div class="info-block-with-img-and-header-text">
                        Наведите на интересующий вас режим тренировки, чтобы увидеть дополнительную информацию.
                    </div>
                    <br>
                </div>
            </div>
            <div class="info-block-standard" id="workout_types_container"></div>
        </main>
    </body>
</html>