<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${WEB_APP_NAME} + ' - Тренировка'"></title>
        <link rel="icon" type="image/x-icon" href="/images/logo/logo.ico">

        <link rel="stylesheet" type="text/css" href="/css/root.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/img_sizes.css">

        <link rel="stylesheet" type="text/css" href="/css/elements/span/span_element.css">
        <link rel="stylesheet" type="text/css" href="/css/elements/span/span_flag_element.css">
        <link rel="stylesheet" type="text/css" href="/css/elements/span/span_rule_element.css">
        <link rel="stylesheet" type="text/css" href="/css/elements/span/span_loading_element.css">

        <link rel="stylesheet" type="text/css" href="/css/elements/div/div_element.css">
        <link rel="stylesheet" type="text/css" href="/css/elements/div/div_with_data_builder_element.css">

        <link rel="stylesheet" type="text/css" href="/css/elements/input/input_text_element.css">
        <link rel="stylesheet" type="text/css" href="/css/elements/button/button_element.css">
        <link rel="stylesheet" type="text/css" href="/css/elements/table/table_element.css">

        <link rel="stylesheet" type="text/css" href="/css/info_block/info_block.css">
        <link rel="stylesheet" type="text/css" href="/css/info_block/info_block_header.css">

        <link rel="stylesheet" type="text/css" href="/css/templates/workouts/start.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

        <script type="module" src="/js/templates/workouts/start.js"></script>
    </head>
    <body>
        <header>
            <div th:insert="~{layouts/header}"></div>
        </header>
        <main class="main-workout-start">
            <div class="div-workout-start-container">
                <div id="div_workout_info"
                     class="div-info-block-container"></div>
                <div id="div_workout_interaction"
                     class="div-workout-interaction-container div-info-block-container"></div>
                <div class="div-workout-timer-container">
                    <div class="div-info-block-header-container">
                        <img src="/images/other/clock.png"
                             alt="clock.png"/>
                        <h1>Время</h1>
                    </div>
                    <div id="div_timer_workout"
                         class="div-info-block-container"></div>
                </div>
                <div id="div_workout_round_statistic_not_over"
                     class="div-info-block-container"></div>
            </div>
        </main>
    </body>
</html>